Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

database: Add OperationDocument.ToStatus method
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Forgot to initialize operation cache
  internal/database/cache.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add IsTerminal method to ProvisioningState type
  internal/api/arm/resource.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Do not immediately delete cluster/node-pool docs
  frontend/pkg/frontend/frontend.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Define Azure headers for asynchronous operations
  internal/api/arm/headers.go
Owners: @bennerv, @mbarnes, @mjlshen

Remove required property
  internal/api/hcpopenshiftcluster.go
Owners: @bennerv, @mbarnes, @mjlshen

Add update specs
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

Cluster name must be unique to not clash with aro-hcp dev env
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

frontend: Record asynchronous operations in CosmosDB
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add asynchronous operation endpoints
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/operations.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

Update cluster-service/deploy/integration/cluster-service-namespace.yaml
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Make managedResourceGroup optional (#526)
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

initial addition of svc-cluster prometheus scrape config
  .github/workflows/aro-hcp-dev-env-cd.yml
  cluster-service/deploy/istio.yml
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
  metrics/Makefile
  metrics/overlays/svc-cluster/kustomization.yml
  metrics/overlays/svc-cluster/prometheus-config.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add maestro server metrics scrape config
  maestro/deploy/helm/server/templates/allow-metrics.authorizationpolicy.yaml
  maestro/deploy/helm/server/templates/maestro.peerauthentication.yaml
  maestro/deploy/helm/server/templates/maestro.servicemonitor.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Promote HyperShift Operator to 99a256f
  hypershiftoperator/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Asynchronous operations - Phase 1: Headers and endpoints (#564)
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/operations.go
  frontend/pkg/frontend/routes.go
  internal/api/arm/headers.go
  internal/api/arm/operation.go
  internal/api/arm/resource.go
  internal/api/registry.go
  internal/database/cache.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

Add a parameter for the namespace
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Promote HyperShift Operator to 99a256f
  hypershiftoperator/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add a parameter for the namespace
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add aro-hcp-frontend scrape configuration
  frontend/deploy/base/allow-metrics.authorizationpolicy.yml
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/metrics.service.yml
  frontend/deploy/base/peerauthentication.yml
  frontend/deploy/base/servicemonitor.yml
Owners: @bennerv, @mbarnes, @mjlshen

Fix image-sync build/push
  tooling/image-sync/go.sum
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add aro-hcp-frontend scrape configuration
  frontend/deploy/base/allow-metrics.authorizationpolicy.yml
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/metrics.service.yml
  frontend/deploy/base/peerauthentication.yml
  frontend/deploy/base/servicemonitor.yml
Owners: @bennerv, @mbarnes, @mjlshen

add maestro server metrics scrape config
  maestro/deploy/helm/server/templates/allow-metrics.authorizationpolicy.yaml
  maestro/deploy/helm/server/templates/maestro.peerauthentication.yaml
  maestro/deploy/helm/server/templates/maestro.servicemonitor.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

initial addition of svc-cluster prometheus scrape config
  .github/workflows/aro-hcp-dev-env-cd.yml
  cluster-service/deploy/istio.yml
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
  metrics/Makefile
  metrics/overlays/svc-cluster/kustomization.yml
  metrics/overlays/svc-cluster/prometheus-config.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Fix image-sync build/push
  tooling/image-sync/go.sum
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add admin component
  admin/Dockerfile
  admin/go.mod
  admin/go.sum
  admin/main.go
  admin/pkg/admin/admin.go
  admin/pkg/admin/adminResourceList.go
  admin/pkg/admin/const.go
  admin/pkg/admin/ocm.go
  admin/pkg/admin/routes.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add deployment for CS Integration MSI
  .github/workflows/cs-integration-env-cd.yml
  dev-infrastructure/configurations/cs-integ-msi.bicepparam
  dev-infrastructure/templates/cs-integration-msi.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add deployment for CS Integration MSI
  .github/workflows/cs-integration-env-cd.yml
  dev-infrastructure/configurations/cs-integ-msi.bicepparam
  dev-infrastructure/templates/cs-integration-msi.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add @batchSize(1), see: https://github.com/Azure/bicep/issues/10928
  dev-infrastructure/templates/cs-integration-msi.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix Copy and past error
  dev-infrastructure/configurations/cs-integ-msi.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

refactor func to list clusters
  admin/main.go
  admin/pkg/admin/adminClusterListfromCS.go
  admin/pkg/admin/routes.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

build(maestro): bump maestro image tag to d034b129d4b75b90050486772cd9fe58aca64f89
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Resource should be plural
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix(maestro): disable grpc tls as it is enabled by default
  maestro/deploy/helm/server/templates/maestro.deployment.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix(maestro): disable grpc tls as it is enabled by default
  maestro/deploy/helm/server/templates/maestro.deployment.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

build(maestro): bump maestro image tag to d034b129d4b75b90050486772cd9fe58aca64f89
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

build(maestro): bump maestro image tag to d034b129d4b75b90050486772cd9fe58aca64f89
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix(maestro): disable grpc tls as it is enabled by default
  maestro/deploy/helm/server/templates/maestro.deployment.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Update frontend to Go 1.23
  .devcontainer/postCreate.sh
  .github/workflows/ci-go.yml
  frontend/go.mod
  go.work
  internal/api/arm/error.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

add conn to ocm
  admin/cmd/cmd.go
  admin/go.mod
  admin/go.sum
  admin/main.go
  admin/pkg/admin/admin.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
