Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

Use pipeline for Frontend
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

testing add diff
  frontend/Makefile
  frontend/pipeline.yaml
  run_pipeline.sh
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor

merge run_pipeline and templatize
  Makefile
  run_pipeline.sh
  templatize.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix pr check
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add Makefile target for pipeline deployments
  .github/workflows/services-cd.yml
  .github/workflows/services-pr-check.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix helm cmd
  helm-cmd.mk
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

feat(cs): add a make target to generate a local azure-operators-managed-identities config
  cluster-service/.gitignore
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Backend add dry run
  .github/workflows/services-pr-check.yml
  Makefile
  backend/Makefile
  backend/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes

remove ""
  dev-infrastructure/global-acr-pipeline.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add buildout dependency for mgmt and global acr
  dev-infrastructure/global-acr-pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove global acr
  dev-infrastructure/global-acr-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Remove duplicate configuration line
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Adding Identity UserAssignedIdentities map
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan

Add a helm cmd fallback for ev2 generator
  backend/Makefile
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan

Fix, define HELM_CMD after include
  backend/Makefile
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan

`deploymentLevel` mandatory in pipeline files
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/pipeline/inspect_test.go
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Add Dry run for Cluster service
  .github/workflows/services-pr-check.yml
  Makefile
  cluster-service/Makefile
  cluster-service/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

use istio tag instead of version for namespace labeling
  backend/Makefile
  backend/pipeline.yaml
  cluster-service/Makefile
  cluster-service/pipeline.yaml
  dev-infrastructure/Makefile
  dev-infrastructure/config.tmpl.mk
  frontend/Makefile
  frontend/pipeline.yaml
  maestro/server/Makefile
  maestro/server/pipeline.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr

Remove wait clause
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

exit with code 1 in case of error
  tooling/templatize/main.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

lint
  tooling/templatize/pkg/pipeline/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use istio tag instead of version for namespace labeling (#1021)
  backend/Makefile
  backend/pipeline.yaml
  cluster-service/Makefile
  cluster-service/pipeline.yaml
  dev-infrastructure/Makefile
  dev-infrastructure/config.tmpl.mk
  frontend/Makefile
  frontend/pipeline.yaml
  maestro/server/Makefile
  maestro/server/pipeline.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr

`deploymentLevel` mandatory in pipeline files (#1038)
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/pipeline/inspect_test.go
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix: register frontend metrics to global registry
  frontend/cmd/cmd.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/node_pool_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan

upgrade istio to 1-23
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix scripts
  dev-infrastructure/Makefile
  dev-infrastructure/scripts/aks-kubeconfig.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

upgrade istio to 1.23 (#1039)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/Makefile
  dev-infrastructure/scripts/aks-kubeconfig.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

adapt child zone delegation step schema for pipeline files
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

revert istio upgrade to 1-23
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

revert istio upgrade to 1-23 (#1041)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Use RG ID as scope, cluster scope does not seem to work
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

adapt child zone delegation step schema for pipeline files (#1040)
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fixup makefile kubeconfig var typo
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix istio script integration into svc creation
  .github/workflows/environment-infra-cd.yml
  dev-infrastructure/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr

Fix makefile %.deploy overlap
  .github/workflows/services-cd.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix makefile %.deploy overlap (#1047)
  .github/workflows/services-cd.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
