Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes, @mociarain, @venkateshsredhat

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr

frontend: Rename StartOperation to ExposeOperation
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

backend: Add Kubernetes leader election
  backend/deploy/helm/backend/templates/backend.deployment.yaml
  backend/deploy/helm/backend/templates/leader-election.role.yaml
  backend/deploy/helm/backend/templates/leader-election.rolebinding.yaml
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

ocm: Add ListCSClusters and ListCSNodePools methods
  internal/ocm/mock.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

backend: Fix nil pointer dereference
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Add more logic to DeleteResource
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Add fallback logic to LoggerFromContext
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_panic.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_systemdata.go
  frontend/pkg/frontend/middleware_validatesubscription.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Add DeleteAllResources method
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Fix status code for subscription PUT
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Remove Frontend.logger member
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Tidy up log messages
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/node_pool.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Refetch resource document after updating
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

cleanup istio 1.22 from DEV and CSPR
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

cleanup istio 1.22 from DEV and CSPR (#1062)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use curl instead of wget to download istio
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr
