Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

remove upfront service delegation on AKS pod subnet (#469)
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

dev-infrastructure: Add SKIP_CONFIRM option to Makefile
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Revert "remove upfront service delegation on AKS pod subnet (#469)"
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Revert "remove upfront service delegation on AKS pod subnet (#469)" (#471)
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

increase max user nodepool size for personal MGMT AKS cluster
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

adds Entra auth for CS postgres
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-secrets-template.yml
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
  dev-infrastructure/configurations/svc-cluster.bicepparam
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

increase max user nodepool size for personal MGMT AKS cluster
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fixes for entra auth
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Reduce changes needed on repeated applies of regional rg bicep
  dev-infrastructure/modules/maestro/maestro-infra.bicep
  dev-infrastructure/modules/metrics/Metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Reduce changes needed on repeated applies of acr bicep
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Reduce changes needed on repeated applies of aks bicep
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Update AKS SKU to Standard
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Reduce changes needed on repeated applies of regional rg bicep
  dev-infrastructure/modules/maestro/maestro-infra.bicep
  dev-infrastructure/modules/metrics/Metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Reduce changes needed on repeated applies of acr bicep (#476)
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Reduce changes needed on repeated applies of aks bicep (#477)
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Refactor Makefiles, move out common resources
  image-sync/common/Makefile
  image-sync/common/deploy/common-template.yml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/oc-mirror-template.yml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Add template and make target for component sync deployment
  tooling/image-sync/Makefile
  tooling/image-sync/deploy.yml
  tooling/image-sync/deploy/image-sync-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

remove MinimumTlsVersionAllowed from eventgrid definition
  dev-infrastructure/modules/maestro/maestro-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Use seperate pull secret for component sync
  tooling/image-sync/Makefile
  tooling/image-sync/deploy.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

remove MinimumTlsVersionAllowed from eventgrid definition
  dev-infrastructure/modules/maestro/maestro-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

dev-infrastructure: Add SKIP_CONFIRM option to Makefile
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Standardize frontend deployment via kustomize
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/docs/development-setup.md
  frontend/Makefile
  frontend/README.md
  frontend/deploy/aro-hcp-frontend.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

Align ACR what-if with actual deploy
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/templates/feature-registration.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Align ACR what-if with actual deploy
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/templates/feature-registration.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Standardize frontend deployment via kustomize
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/docs/development-setup.md
  frontend/Makefile
  frontend/README.md
  frontend/deploy/aro-hcp-frontend.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

adds workload_id to db auth in template
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

add admin api
  internal/adminapi/enums.go
  internal/adminapi/hcpopenshiftcluster.go
  internal/adminapi/hcpopenshiftclusternodepool.go
  internal/adminapi/register.go
  internal/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Split deploy_update_infra by resource group
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Split deploy_update_infra by resource group
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Avoid having to pass CosmosDB name to mgmt cluster roleassigns
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Avoid having to pass CosmosDB name to mgmt cluster roleassigns
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

fix ptr
  internal/adminapi/hcpopenshiftcluster.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

HO and maestro releases
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

remove duct tape for hypershift-addon-operator overrides
  acm/deploy/mch/mce-overrides.yml
  acm/scripts/install-acm.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

api: Further revise WriteResourceNotFoundError
  internal/api/arm/error.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Further revise WriteResourceNotFoundError
  internal/api/arm/error.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

mv admin inside api
  internal/api/adminapi/enums.go
  internal/api/adminapi/hcpopenshiftcluster.go
  internal/api/adminapi/hcpopenshiftclusternodepool.go
  internal/api/adminapi/register.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

rm repeated code
  internal/api/adminapi/hcpopenshiftcluster.go
  internal/api/adminapi/hcpopenshiftclusternodepool.go
  internal/api/adminapi/register.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

fix call
  internal/api/adminapi/register.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Move EnumValidateTag function
  internal/api/v20240610preview/register.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @tonytheleg @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen @tonytheleg
/frontend/ @bennerv @mbarnes @mjlshen @tonytheleg
/internal/ @bennerv @mbarnes @mjlshen @tonytheleg
