Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jmelis, @JameelB, @miguelsorianod, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

use general variable names
  test/e2e-setup/README.md
  test/e2e-setup/bicep/setup.sh
Owners: @patriksuba, @mbukatov, @mgahagan73

refine etcd defaults
  test/e2e-setup/bicep/modules/cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73

place tag information info to the kv schema (#2255)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/global-infra.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-infra.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-nsp.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-infra.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/modules/oidc/global/frontdoor-keyvault.bicep
  dev-infrastructure/modules/oidc/global/main.bicep
  dev-infrastructure/modules/oidc/region/customDomain-route-origin.bicep
  dev-infrastructure/modules/oidc/region/main.bicep
  dev-infrastructure/templates/global-infra.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/mgmt-infra.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

move svc kv tags to global defaults
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

move svc kv tags to global defaults (#2260)
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add required fields to config schema for refresher deploy
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add required fields to config schema for refresher deploy (#2246)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

fix lint
  arobit/Makefile
  arobit/deploy/templates/forwarder-configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jharrington22, @ulrichschlueter

removed uneeded volumes
  arobit/deploy/templates/forwarder-daemonset.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

fix global-infra dependencies
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Regenerate SDK with @autorest/go@4.0.0-preview.73 to fix CI
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/externalauths_client.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/hcpopenshiftversions_client.go
  internal/api/v20240610preview/generated/hcpoperatoridentityrolesets_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
  internal/api/v20240610preview/generated/version.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

fix global-infra dependencies (#2262)
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Don't send ETCD object to CS at all
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Remove old comment
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Regenerate mocks
  internal/mocks/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Update a comment
  frontend/pkg/frontend/external_auth.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

secret sync for prod
  dev-infrastructure/data/encryptedsecrets.yaml
  docs/overview.png
  docs/secret-sync.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

remove defaults completely
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftcluster.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

remove default from cluster bicep as well
  demo/bicep/cluster.bicep
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @tony-schndr, @sclarkso, @tsatam, @katherinelc321

secret sync for prod (#2263)
  dev-infrastructure/data/encryptedsecrets.yaml
  docs/overview.png
  docs/secret-sync.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

update CS image to include MIs and MI DP interaction fix in integrated dev
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

update CS image to include MIs and MI DP interaction fix in int, stage, prod
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

update CS image to include MIs and MI DP interaction fix in integrated dev (#2265)
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

config: record just one ID for reader role in subs
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

enable trace export to mdsd
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/ntly/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

config: record just one ID for reader role in subs (#2266)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

refactor e2e testcontext for auto cleanup
  test/e2e/cluster_create_missing_info.go
  test/e2e/complete_cluster_create.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/zero_dep.go
Owners: @patriksuba, @mbukatov, @mgahagan73

added release management group to config
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Make AROBit use MSI for MDSD authentication
  arobit/Makefile
  arobit/deploy/templates/_helpers.tpl
  arobit/deploy/templates/forwarder-clusterrolebinding.yaml
  arobit/deploy/templates/forwarder-configmap.yaml
  arobit/deploy/templates/forwarder-daemonset.yaml
  arobit/deploy/templates/serviceaccount.yaml
  arobit/deploy/values.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jharrington22, @ulrichschlueter, @JameelB, @miguelsorianod, @jmelis

Fix format
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Fix duplicate mounts
  arobit/deploy/templates/forwarder-daemonset.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

Fix lineendings
  arobit/deploy/templates/_helpers.tpl
  arobit/deploy/templates/forwarder-clusterrole.yaml
  arobit/deploy/templates/forwarder-exporter-configmap.yaml
  arobit/deploy/templates/forwarder-service.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

Make template simpler to avoid formatter chaos
  acrpull/deploy/templates/deployment.yaml
  arobit/deploy/templates/forwarder-clusterrole.yaml
  arobit/deploy/templates/forwarder-clusterrolebinding.yaml
  arobit/deploy/templates/forwarder-configmap.yaml
  arobit/deploy/templates/forwarder-daemonset.yaml
  arobit/deploy/templates/forwarder-exporter-configmap.yaml
  arobit/deploy/templates/forwarder-service.yaml
  arobit/deploy/templates/serviceaccount.yaml
  arobit/deploy/values.yaml
  config/dev.digests.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Fix
  acrpull/deploy/templates/deployment.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

materialize
  config/dev.digests.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

symlink bingo binary basenames
  .bingo/Symlinks.mk
  Makefile
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

lint
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

symlink bingo binary basenames (#2270)
  .bingo/Symlinks.mk
  Makefile
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jmelis, @ulrichschlueter

Ignore test binary and e2e-setup.json
  test/.gitignore
Owners: @patriksuba, @mbukatov, @mgahagan73

Containerfile for E2E Test Suite. Automate build and run of container.
  test/Containerfile.e2e
  test/e2e/Makefile
Owners: @patriksuba, @mbukatov, @mgahagan73
