Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

Refactor makefile, add helm generic mk file
  .github/workflows/services-pr-check.yml
  frontend/Makefile
  frontend/pipeline.yaml
  helm-cmd.mk
  run_pipeline.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes

Move istio to svc cluster rollout (#979)
  config/Makefile
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

Add Makefile target for pipeline deployments
  .github/workflows/services-cd.yml
  .github/workflows/services-pr-check.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

merge run_pipeline and templatize
  Makefile
  run_pipeline.sh
  templatize.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

fix azure login check workflow messages
  .github/workflows/aro-hcp-login-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

re-introduce fork check
  .github/workflows/aro-hcp-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

CS pipeline.yaml
  cluster-service/Makefile
  cluster-service/config.tmpl.mk
  cluster-service/deploy/helm/azuredb.values.yaml
  cluster-service/deploy/helm/containerdb.values.yaml
  cluster-service/deploy/helm/templates/azure-operators-managed-identities-config.configmap.yaml
  cluster-service/deploy/helm/templates/deployment.yaml
  cluster-service/deploy/helm/values.yaml
  cluster-service/pipeline.yaml
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  tooling/templatize/pkg/pipeline/shell.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fix helm cmd
  helm-cmd.mk
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

*: add acrpull controller, binding
  .yamllint.yml
  acrpull/Makefile
  acrpull/deploy/helm/acrpull/Chart.yaml
  acrpull/deploy/helm/acrpull/templates/acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/deployment.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/msi-acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/namespace.yaml
  acrpull/deploy/helm/acrpull/templates/podmonitor.yaml
  acrpull/deploy/helm/acrpull/templates/serviceaccount.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicies.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicybindings.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicyparameters.yaml
  acrpull/deploy/helm/acrpull/values.yaml
  acrpull/pipeline.yaml
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  frontend/Makefile
  frontend/deploy/helm/frontend/templates/acrpullbinding.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/values.yaml
  go.work.sum
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @mbarnes

dev-infrastructure: parallelize fmt, lint
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

make deploy should use provided COMMIT as tag or use the most recent tag
  backend/Makefile
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan

document behavior of COMMIT variable for make deploy
  config/config.yaml
  dev-infrastructure/docs/development-setup.md
  frontend/Makefile
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @mbarnes

fixup typos
  dev-infrastructure/templates/svc-cluster.bicep
  internal/ocm/ocm.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @mbarnes

use target selector to get the number of istio pod
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove linter exception
  .yamllint.yml
  config/config.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

introduce pipeline.yaml file for CS (#1016)
  .yamllint.yml
  cluster-service/Makefile
  cluster-service/config.tmpl.mk
  cluster-service/deploy/helm/azuredb.values.yaml
  cluster-service/deploy/helm/containerdb.values.yaml
  cluster-service/deploy/helm/templates/azure-operators-managed-identities-config.configmap.yaml
  cluster-service/deploy/helm/templates/deployment.yaml
  cluster-service/deploy/helm/values.yaml
  cluster-service/pipeline.yaml
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  tooling/templatize/pkg/pipeline/shell.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use istio tag instead of version for namespace labeling
  backend/Makefile
  backend/pipeline.yaml
  cluster-service/Makefile
  cluster-service/pipeline.yaml
  dev-infrastructure/Makefile
  dev-infrastructure/config.tmpl.mk
  frontend/Makefile
  frontend/pipeline.yaml
  maestro/server/Makefile
  maestro/server/pipeline.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr

debug nginx setup
  maestro/agent/helm/templates/ama-metrics-serviceaccount.role.yaml
  maestro/agent/helm/templates/ama-metrics-serviceaccount.rolebinding.yaml
  maestro/agent/helm/templates/debug-nginx-proxy.yaml
  maestro/agent/helm/templates/maestro-agent.deployment.yaml
  maestro/agent/helm/templates/maestro-agent.podmonitor.yaml
  maestro/agent/helm/templates/maestro-agent.sa-token.secret.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

add local helm chart linting
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

add mce clc-state-metrics
  acm/Makefile
  acm/config.tmpl.mk
  acm/deploy/helm/clc-state-metrics/Chart.yaml
  acm/deploy/helm/clc-state-metrics/templates/_helpers.tpl
  acm/deploy/helm/clc-state-metrics/templates/cert-secret.yaml
  acm/deploy/helm/clc-state-metrics/templates/clc-servicemonitor.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-clusterrole.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-clusterrole_binding.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-deployment.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-service.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-service_account.yaml
  acm/deploy/helm/clc-state-metrics/values.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

scrape over http
  acm/deploy/helm/clc-state-metrics/templates/clc-state-metrics.servicemonitor.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-service.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

add buildout
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change type
  tooling/templatize/pkg/pipeline/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

add type
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix unit test
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Adding Identity field to the HCPOpenShiftCluster
  internal/api/arm/identity.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan

doc: document ARO-HCP Clusters creation in CS with Managed Identities
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

doc: frontend: document that X-Ms-Identity-URL HTTP header is now required during creation
  frontend/README.md
Owners: @bennerv, @mbarnes, @SudoBrendan

feat: update CS image to include MIs API side requirements
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

ignore lint errors for clc-state-metrics helm chart
  .yamllint.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Adding Identity field to the HCPOpenShiftCluster
  internal/api/arm/identity.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan

use arm
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

parentZoneName
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fix typo in the dev-infrastructre docs
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Add Pipeline Run Script
  run_pipeline.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Refactor makefile, add helm generic mk file
  .github/workflows/services-pr-check.yml
  frontend/Makefile
  frontend/pipeline.yaml
  helm-cmd.mk
  run_pipeline.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes

Add PRINCIPAL_ID parameter
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add PR Check pipeline
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
