Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr

fix lint
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

test jq
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove url
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use jq
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add mce clc-state-metrics
  acm/Makefile
  acm/config.tmpl.mk
  acm/deploy/helm/clc-state-metrics/Chart.yaml
  acm/deploy/helm/clc-state-metrics/templates/_helpers.tpl
  acm/deploy/helm/clc-state-metrics/templates/cert-secret.yaml
  acm/deploy/helm/clc-state-metrics/templates/clc-servicemonitor.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-clusterrole.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-clusterrole_binding.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-deployment.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-service.yaml
  acm/deploy/helm/clc-state-metrics/templates/metrics-service_account.yaml
  acm/deploy/helm/clc-state-metrics/values.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

delete unused
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix lint and comment
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

uncommon yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use array
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use array
  config/config.msft.yaml
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use string
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

put []
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use single string
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

test use string
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use object
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use array
  config/config.msft.yaml
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use workaround
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use workaround
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use reversion
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

revert back to array
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

new types
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

remove parsing indirection on step level
  tooling/templatize/pkg/pipeline/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

remove RG parsing magic func
  tooling/templatize/pkg/pipeline/common.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

update testdata for configref
  tooling/templatize/pkg/ev2/utils_test.go
  tooling/templatize/testdata/config.yaml
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

introduce step action based structs
  dev-infrastructure/.gitignore
  tooling/templatize/cmd/pipeline/run/options.go
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/ev2/pipeline.go
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/common_test.go
  tooling/templatize/pkg/pipeline/inspect.go
  tooling/templatize/pkg/pipeline/inspect_test.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
  tooling/templatize/pkg/pipeline/shell.go
  tooling/templatize/pkg/pipeline/shell_test.go
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/pkg/pipeline/validation.go
  tooling/templatize/pkg/pipeline/validation_test.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

json array handling
  tooling/templatize/cmd/generate/options.go
  tooling/templatize/pkg/config/config.go
  tooling/templatize/pkg/config/config_test.go
  tooling/templatize/pkg/ev2/mapping_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

ASK upgrade 1.31.2
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

introduce step action based structs (#1005)
  dev-infrastructure/.gitignore
  tooling/templatize/cmd/generate/options.go
  tooling/templatize/cmd/pipeline/run/options.go
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/config/config.go
  tooling/templatize/pkg/config/config_test.go
  tooling/templatize/pkg/ev2/mapping_test.go
  tooling/templatize/pkg/ev2/pipeline.go
  tooling/templatize/pkg/ev2/utils_test.go
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/common.go
  tooling/templatize/pkg/pipeline/common_test.go
  tooling/templatize/pkg/pipeline/inspect.go
  tooling/templatize/pkg/pipeline/inspect_test.go
  tooling/templatize/pkg/pipeline/pipeline.schema.v1.json
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
  tooling/templatize/pkg/pipeline/shell.go
  tooling/templatize/pkg/pipeline/shell_test.go
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/pkg/pipeline/validation.go
  tooling/templatize/pkg/pipeline/validation_test.go
  tooling/templatize/testdata/config.yaml
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Add subscription level deployment
  tooling/templatize/pkg/pipeline/arm.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Add E2E for Subscription scope deployments
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

cleanup unused code
  tooling/templatize/pkg/config/config.go
  tooling/templatize/pkg/config/config_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fix test
  tooling/templatize/internal/end2end/e2e_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

cleanup unused code (#1010)
  tooling/templatize/pkg/config/config.go
  tooling/templatize/pkg/config/config_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

WIP maestro agent metrics
  maestro/agent/helm/templates/maestro-agent.deployment.yaml
  maestro/agent/helm/templates/maestro-agent.metrics-access.clusterrole.yaml
  maestro/agent/helm/templates/maestro-agent.metrics-access.clusterrolebinding.yaml
  maestro/agent/helm/templates/maestro-agent.metrics.serviceaccount.yaml
  maestro/agent/helm/templates/maestro-agent.podmonitor.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

csv for istio version
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

*: add acrpull controller, binding
  acrpull/Makefile
  acrpull/deploy/helm/acrpull/Chart.yaml
  acrpull/deploy/helm/acrpull/templates/acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/deployment.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/msi-acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/namespace.yaml
  acrpull/deploy/helm/acrpull/templates/podmonitor.yaml
  acrpull/deploy/helm/acrpull/templates/serviceaccount.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicies.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicybindings.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicyparameters.yaml
  acrpull/deploy/helm/acrpull/values.yaml
  acrpull/pipeline.yaml
  config/config.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  frontend/Makefile
  frontend/deploy/helm/frontend/templates/acrpullbinding.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/values.yaml
  go.work.sum
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @mbarnes

Add Pipeline Run Script
  run_pipeline.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Use pipeline for Frontend
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

*: add acrpull controller, binding
  acrpull/Makefile
  acrpull/deploy/helm/acrpull/Chart.yaml
  acrpull/deploy/helm/acrpull/templates/acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/deployment.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/msi-acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/namespace.yaml
  acrpull/deploy/helm/acrpull/templates/podmonitor.yaml
  acrpull/deploy/helm/acrpull/templates/serviceaccount.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicies.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicybindings.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicyparameters.yaml
  acrpull/deploy/helm/acrpull/values.yaml
  acrpull/pipeline.yaml
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  frontend/Makefile
  frontend/deploy/helm/frontend/templates/acrpullbinding.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/values.yaml
  go.work.sum
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @mbarnes

WIP maestro agent metrics
  maestro/agent/helm/templates/ama-metrics-serviceaccount.role.yaml
  maestro/agent/helm/templates/ama-metrics-serviceaccount.rolebinding.yaml
  maestro/agent/helm/templates/maestro-agent.deployment.yaml
  maestro/agent/helm/templates/maestro-agent.metrics-access.clusterrole.yaml
  maestro/agent/helm/templates/maestro-agent.metrics-access.clusterrolebinding.yaml
  maestro/agent/helm/templates/maestro-agent.metrics.serviceaccount.yaml
  maestro/agent/helm/templates/maestro-agent.podmonitor.yaml
  maestro/agent/helm/templates/maestro-agent.sa-token.secret.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor
