Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

explicitely wait for succeeded
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config.msft.yaml is generated
  .yamlfmt.yaml
  .yamllint.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

grafana script fixes (#1845)
  .yamlfmt.yaml
  .yamllint.yml
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

frontend: Dockerfile cleanups
  frontend/Dockerfile
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Stop creating archive.tar.gz for images
  frontend/Dockerfile
  frontend/Dockerfile.dockerignore
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Try to cache dependencies when building image
  frontend/Dockerfile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Copy environment file into Docker build context
  frontend/Dockerfile
  frontend/Dockerfile.dockerignore
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Dockerfile cleanups
  backend/Dockerfile
  backend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Copy environment file into Docker build context
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Stop creating archive.tar.gz for images
  backend/Dockerfile
  backend/Dockerfile.dockerignore
  backend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Try to cache dependencies when building image
  backend/Dockerfile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Structure TOC
  docs/README.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Structure TOC (#1846)
  docs/README.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

use subscriptionID global var.
  test/e2e/subscription_get_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

drop "kms" MI for now
  e2e-setup/11-infra-mi-setup.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

tracing: add node pool attributes
  backend/operations_scanner.go
  frontend/cmd/cmd.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
  internal/ocm/ocm.go
  internal/ocm/tracing.go
  internal/tracing/attributes.go
  observability/tracing/tracing-common-attributes.md
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

add a script to tag cluster rgs with persist:true
  e2e-setup/hack.persist-cluster.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

pass a cluster name every time
  e2e-setup/README.md
  e2e-setup/setup.infra-only-demo.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

bicep module for deploying hcp
  demo/bicep/cluster.bicep
  demo/bicep/customer-infra.bicep
  demo/bicep/modules/openshift-identities.bicep
  demo/cluster-bicep.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

bicep module for node pools
  demo/bicep/modules/openshift-identities.bicep
  demo/bicep/nodepool.bicep
  demo/cluster-bicep.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

update test config
  tooling/templatize/internal/end2end/e2e_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

api: Location is required for tracked resources
  demo/03-create-cluster.sh
  demo/04-create-nodepool.sh
  demo/cluster.tmpl.json
  demo/node_pool.tmpl.json
  internal/api/arm/resource.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler
