Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

ARO-9986 | Add azure-first-party-application-client-id flag to CS
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

convert to helm chart
  .github/workflows/aro-hcp-dev-env-cd.yml
  frontend/Makefile
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/networking.yml
  frontend/deploy/base/peerauthentication.yml
  frontend/deploy/base/serviceaccount.yml
  frontend/deploy/helm/frontend/Chart.yaml
  frontend/deploy/helm/frontend/templates/allow-metrics.authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/frontend.configmap.yaml
  frontend/deploy/helm/frontend/templates/frontend.deployment.yaml
  frontend/deploy/helm/frontend/templates/frontend.gateway.yaml
  frontend/deploy/helm/frontend/templates/frontend.service.yaml
  frontend/deploy/helm/frontend/templates/frontend.virtualservice.yaml
  frontend/deploy/helm/frontend/templates/metrics.service.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/templates/servicemonitor.yaml
  frontend/deploy/helm/frontend/values.yaml
  frontend/deploy/overlays/dev/kustomization.yml
  frontend/deploy/overlays/dev/namespace.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

api: Remove some redundant "required_for_put" tags
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Remove validation tags for read-only fields
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Autoscaling fields are not required
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Adjust validation error message for one-value enum types
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add unit tests for validation tags
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool_test.go
Owners: @bennerv, @mbarnes, @mjlshen

Fix cs ruleName
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

PR remarks
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add execution of Makefile target deploy-integ to workflow
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Fix lint
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Configure repository caching for Quay repos (#610)
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix URL, remove https prefix
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Overlooked the trailing slash
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

ARO-9986 | Add azure-first-party-application-client-id flag to CS
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

convert to helm chart
  .github/workflows/aro-hcp-dev-env-cd.yml
  frontend/Makefile
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/networking.yml
  frontend/deploy/base/peerauthentication.yml
  frontend/deploy/base/serviceaccount.yml
  frontend/deploy/helm/frontend/Chart.yaml
  frontend/deploy/helm/frontend/templates/allow-metrics.authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/frontend.configmap.yaml
  frontend/deploy/helm/frontend/templates/frontend.deployment.yaml
  frontend/deploy/helm/frontend/templates/frontend.gateway.yaml
  frontend/deploy/helm/frontend/templates/frontend.service.yaml
  frontend/deploy/helm/frontend/templates/frontend.virtualservice.yaml
  frontend/deploy/helm/frontend/templates/metrics.service.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/templates/servicemonitor.yaml
  frontend/deploy/helm/frontend/values.yaml
  frontend/deploy/overlays/dev/kustomization.yml
  frontend/deploy/overlays/dev/namespace.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

Add unit tests for "validate" struct tags (#613)
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen

ARO-8948 Update ARO HCP template with CSI Driver
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Support overwrite for secrets
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

role assignment name should be unique
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

api: Rename "Autoscaling" to "AutoScaling"
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/nodepools_methods.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add more validation for node pool autoscaling
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen

Add more validation for node pool autoscaling (#617)
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen

ARO-8948 Update ARO HCP template with CSI Driver
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

frontend: Get tenant ID from x-ms-home-tenant-id header
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Remove TenantIDFromContext and associated tests
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/context_test.go
Owners: @bennerv, @mbarnes, @mjlshen

use sha for dependabot version management
  .github/workflows/helm-lint.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add helm linter github action
  .github/workflows/helm-lint.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

use sha for dependabot version management
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

add helm linter github action (#612)
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  .github/workflows/helm-lint.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Fix cron schedule, acr purge is actually daily and other schedule was accidentically hourly
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix cron schedule, acr purge is actually daily and other schedule was accidentically hourly
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

fix: removed extra space after variable set
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix: removed extra space after variable set (#620)
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

frontend: Remove SubscriptionFromContext
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
Owners: @bennerv, @mbarnes, @mjlshen

Add shellcheck linter for Makefiles
  .github/workflows/yaml-lint.yml
  .mega-linter.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add shellcheck linter for Makefiles (#622)
  .github/workflows/yaml-lint.yml
  .mega-linter.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

ARO-7425|feat: add azure runtime config flag to cs service template
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

frontend: Get tenant ID from x-ms-home-tenant-id header
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Remove SubscriptionFromContext
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
Owners: @bennerv, @mbarnes, @mjlshen

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
