Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @machi1990, @miguelsorianod, @JameelB

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
go.work* @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB

Doc fix: Added step to create MI for control-plane and cluster-api-azure
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

fix(demo): attach service managed identities to the "identities.userAssignedIdentities" field. (#1204)
  demo/03-create-cluster.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Give 10y validity to service principals for Dev
  dev-infrastructure/Makefile
  dev-infrastructure/scripts/create-sp-for-rbac.sh
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

Switch to new apps/principals/certs
  cluster-service/pipeline.yaml
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

refactor the validateStatic method and rephrase the error message
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

hint about grafana reg and different subs
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

mitigate access token problem during long GH actions
  .github/workflows/aro-hcp-dev-what-if.yml
  .github/workflows/cs-pr-what-if.yml
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette

add global pipeline run to GH action and cleanup ACR tasks
  .github/workflows/aro-hcp-cd.yml
  dev-infrastructure/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette

various fixes
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

revert tmp cs fixes
  cluster-service/Makefile
  cluster-service/pipeline.yaml
  config/config.yaml
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

add grafana permissions to devops MI
  dev-infrastructure/configurations/global-infra.tmpl.bicepparam
  dev-infrastructure/templates/global-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

add managed identity role for dev
  .github/workflows/aro-hcp-cd.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-managed-identity-roles.bicepparam
  dev-infrastructure/templates/dev-managed-identity-roles.bicep
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette

frontend: apply suggestions from code review
  frontend/pkg/frontend/middleware_tracing.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

fix principal Id
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

add managed identity role for dev
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

disable grafana monitoring workspace registration temporarily
  .github/workflows/environment-infra-cd.yml
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette

frontend: add comment pointing to trace impl. location
  frontend/pkg/frontend/middleware_logging.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

Add additional roles to msi-mock sp per ARO-10668
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ensure no deployments are running in svc kv rg
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

add missing actions to GH action pipelines
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

add missing actions to GH action pipelines (#1212)
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

fix CP and DP MIs doc
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

arm: Add NewPagedResponse function
  frontend/pkg/frontend/frontend.go
  internal/api/arm/response.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

add managed identity role for dev (#1210)
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

provide env vars to gh actions
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/environment-infra-cd.yml
  .github/workflows/services-cd.yml
  .github/workflows/services-ci.yml
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

timeout handling
  tooling/templatize/pkg/azauth/auth.go
  tooling/templatize/pkg/azauth/github.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

refresh GH action ID token during pipeline runs
  .github/workflows/services-pr-check.yml
  tooling/templatize/cmd/pipeline/run/cmd.go
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/aks/admin.go
  tooling/templatize/pkg/aks/kubeconfig.go
  tooling/templatize/pkg/azauth/auth.go
  tooling/templatize/pkg/azauth/github.go
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/executiontarget.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

frontend: set default otel resource attributes
  frontend/cmd/cmd.go
  frontend/pkg/frontend/otel_sdk.go
  frontend/pkg/info/version.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

frontend: merge config and info package
  frontend/cmd/cmd.go
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/middleware_logging_test.go
  frontend/pkg/frontend/otel_sdk.go
  frontend/pkg/util/logger.go
  frontend/pkg/util/version.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

fix CP and DP MIs doc (#1221)
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

refresh GH action ID token during pipeline runs (#1214)
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/environment-infra-cd.yml
  .github/workflows/services-cd.yml
  .github/workflows/services-ci.yml
  .github/workflows/services-pr-check.yml
  tooling/templatize/cmd/pipeline/run/cmd.go
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/aks/admin.go
  tooling/templatize/pkg/aks/kubeconfig.go
  tooling/templatize/pkg/azauth/auth.go
  tooling/templatize/pkg/azauth/github.go
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/executiontarget.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette

database: Add PartitionKeys container
  dev-infrastructure/modules/rp-cosmos.bicep
  internal/database/database.go
  internal/database/partitionkeys.go
  internal/mocks/dbclient.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

database: Add ListOperationDocs method
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

ARO-14927: add join action to msi
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

CS PR checks need permissions over resources as well
  cluster-service/Makefile
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB

setup signers for MC keyvaults
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/templates/mgmt-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-14927: add join action to msi (#1224)
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

frontend: add metrics for the CS client
  frontend/cmd/cmd.go
  go.work.sum
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler

add missing env vars to gh actions
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/aro-hcp-dev-what-if.yml
  .github/workflows/cs-pr-what-if.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

setup signers for MC keyvaults (#1225)
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/aro-hcp-dev-what-if.yml
  .github/workflows/cs-pr-what-if.yml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/templates/mgmt-infra.bicep
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette
