Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

add nightly infra workflow
  .github/workflows/nightly-recreate.yml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

update params
  dev-infrastructure/templates/dev-automation-account.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Add Email Action Group
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/metrics.tmpl.bicepparam
  dev-infrastructure/modules/metrics/actiongroups.bicep
  dev-infrastructure/modules/metrics/metrics.bicep
  dev-infrastructure/modules/metrics/monitor.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

Refactor, create email action groups dynamically
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/metrics.tmpl.bicepparam
  dev-infrastructure/modules/metrics/actiongroups.bicep
  dev-infrastructure/modules/metrics/metrics.bicep
  dev-infrastructure/modules/metrics/monitor.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

Generate groupShortName
  dev-infrastructure/modules/metrics/actiongroups.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Fix typo
  dev-infrastructure/configurations/metrics.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

dedicated mirror jobs
  dev-infrastructure/templates/global-image-sync.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Switch to using *api.NodePoolsClientBeginCreateOrUpdateOptions
  test/e2e/nodepool_create_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Add userAccessAdminRole to Automation account
  dev-infrastructure/modules/automation-account/permissions.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

new attributes to mi config acc to new schema
  cluster-service/Makefile
  cluster-service/deploy/templates/azure-operators-managed-identities-config.configmap.yaml
  cluster-service/deploy/values.yaml
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB

dedicated mirror jobs (#1774)
  dev-infrastructure/templates/global-image-sync.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Refactor code and add high level tests
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  go.work.sum
  observability/observability.yaml
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/main.go
  tooling/prometheus-rules/main_test.go
  tooling/prometheus-rules/testdata/alerts/testing-prometheusRule.yaml
  tooling/prometheus-rules/testdata/alerts/testing-prometheusRule_test.yaml
  tooling/prometheus-rules/testdata/generated.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Changed go template also changes format of generated file...
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Make all tidy
  admin/go.mod
  admin/go.sum
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
  tooling/mcerepkg/go.mod
  tooling/mcerepkg/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/main.go
  tooling/prometheus-rules/main_test.go
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @patriksuba, @mbukatov, @mgahagan73

Fix lint, check errors
  tooling/prometheus-rules/main_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Add promtool for go testing
  .github/workflows/ci-go.yml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

ocm: Resolve version link in ClusterServiceClient.GetNodePool
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

move OIDC storage from svc RG to regional RG
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

POC - ACM policy to mirror an ingress TLS cert into a HCP KAS
  acm/deploy/helm/policies/templates/ingress-tls-secret.placementbinding.yaml
  acm/deploy/helm/policies/templates/ingress-tls-secret.policy.yaml
  acm/deploy/helm/policies/templates/policy.admin.clusterrolebinding.yaml
  acm/deploy/helm/policies/templates/policy.serviceaccount.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add new Structures for e2eSetup.json integration between E2E Test Suite and Setup
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Map action groups in prometheus-rules
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

update maestro with server instance bugfix
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Update setup of E2E Test Suite with e2esetup.json intergration
  test/e2e/cluster_get_test.go
  test/e2e/cluster_list_test.go
  test/e2e/setup.go
Owners: @patriksuba, @mbukatov, @mgahagan73

update maestro with server instance bugfix (#1783)
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Use AKSCluster from ShellStep instead of ResourceGroup
  tooling/templatize/pkg/pipeline/executiontarget.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Finish integration between E2E Test Suite and E2E Setup
  test/e2e/README.md
  test/e2e/setup.go
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

api: Change ValidateRequest to take an http.Request
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/registry.go
  internal/api/registry_test.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

arm: Remove SystemData field from DeploymentPreflightResource
  internal/api/arm/preflight.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add fieldErrorToTarget helper function
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

arm: Add Identity field to DeploymentPreflightResource
  internal/api/arm/preflight.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add PreflightResourceType variable
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Fix preflight test case for MiddlewareResourceID
  frontend/pkg/frontend/middleware_resourceid_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

arm: Add DetectTLE to find TLEs in raw JSON data
  backend/go.sum
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  internal/api/arm/preflight.go
  internal/api/arm/preflight_test.go
  internal/go.mod
  internal/go.sum
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Update go version after merge
  go.work.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Make all tidy
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Revert "Map action groups in prometheus-rules"
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Update pipelines as well
  acm/pipeline.yaml
  acrpull/pipeline.yaml
  backend/pipeline.yaml
  backplane-api/pipeline.yaml
  cluster-service/pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/mgmt-solo-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  frontend/pipeline.yaml
  hypershiftoperator/pipeline.yaml
  istio/pipeline.yaml
  maestro/agent/pipeline.yaml
  maestro/server/pipeline.yaml
  observability/tracing/pipeline.yaml
  pko/pipeline.yaml
  tooling/templatize/testdata/pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
  tooling/templatize/testdata/zz_fixture_TestRawOptions.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @machi1990, @miguelsorianod, @JameelB, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Enable otel tracing for maestro server
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  maestro/server/Makefile
  maestro/server/deploy/templates/maestro.deployment.yaml
  maestro/server/deploy/values.yaml
  maestro/server/pipeline.yaml
  observability/tracing/Makefile
  observability/tracing/README.md
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

fix admin api route
  admin/pkg/admin/routes.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

database: Export IsResponseError
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler
