Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen

Add a default for ManagedResourceGroup Name (#658)
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add LockClient
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add "Locks" container
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/cmd/cmd.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521, @mbarnes

database: Avoid using azcosmos.ContainerClient.UpsertItem
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  frontend/pkg/frontend/operations.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add MiddlewareLockSubscription
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/routes.go
  internal/api/arm/error.go
Owners: @bennerv, @mbarnes, @mjlshen

chore: update cs image tag to b16f630
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

chore: remove copy-fpc make target
  cluster-service/Makefile
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Refactor First Party SP
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mock-identities.bicepparam
  dev-infrastructure/modules/first-party-identity.bicep
  dev-infrastructure/modules/keyvault/identity-certificate.bicep
  dev-infrastructure/modules/keyvault/identiy-script-msi.bicep
  dev-infrastructure/templates/first-party-identity.bicep
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

database: Fix error code check in LockClient.TryAcquireLock
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @mjlshen

Specify role for MSI mock
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

database: Fix error code check in LockClient.TryAcquireLock
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @mjlshen

update external dns pod monitor
  hypershiftoperator/deploy/base/podmonitor-external-dns.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

update hypershift operator service monitor
  hypershiftoperator/deploy/base/servicemonitor-operator.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Hypershift operator/external-dns prometheus scrape config (#683)
  hypershiftoperator/deploy/base/podmonitor-external-dns.yaml
  hypershiftoperator/deploy/base/servicemonitor-operator.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

ARO-10665 | Add docs to support local testing using first party application certificate bundle
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

use unique name for amw
  dev-infrastructure/configurations/dev-metrics.bicepparam
  dev-infrastructure/configurations/mvp-metrics.bicepparam
  dev-infrastructure/modules/metrics/metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

use unique name for amw
  dev-infrastructure/configurations/dev-metrics.bicepparam
  dev-infrastructure/configurations/mvp-metrics.bicepparam
  dev-infrastructure/modules/metrics/metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

oc mirror version range for 4.17
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

oc mirror version range for 4.17 (#690)
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add Contributor role assignment
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add sync for amd64 as well
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add sync for amd64 as well (#691)
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Replace modules/keyvault/identity-certificate.bicep with key-vault-cert.bicep
  dev-infrastructure/modules/key-vault-cert.bicep
  dev-infrastructure/modules/keyvault/identity-certificate.bicep
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix name
  dev-infrastructure/modules/keyvault/identity-script-msi.bicep
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add additional Mock Service Principals (#682)
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mock-identities.bicepparam
  dev-infrastructure/modules/first-party-identity.bicep
  dev-infrastructure/modules/key-vault-cert.bicep
  dev-infrastructure/modules/keyvault/identity-script-msi.bicep
  dev-infrastructure/templates/first-party-identity.bicep
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

feat: add workload identity pod label in CS Deployment
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

feat: add workload identity pod label in CS Deployment (#693)
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Templatize Tooling Command
  go.work
  tooling/templatize/README.md
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/main.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Templatize Tooling Command
  go.work
  tooling/templatize/README.md
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/main.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor
