Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @tonytheleg @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen @tonytheleg
/frontend/ @bennerv @mbarnes @mjlshen @tonytheleg
/internal/ @bennerv @mbarnes @mjlshen @tonytheleg

change name
  maestro/deploy/helm/agent/templates/maestro-agent.agent.clusterrole.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.clusterrolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.role.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.rolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent:extension-apiserver.role.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent:extension-apiserver.rolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.execution-admin.clusterrolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.execution.clusterrolebinding.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

add missing image-sync role for integrated DEV
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

add missing image-sync role for integrated DEV
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Deploy MC/SC resource group after region
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Update to K8s 1.30.3
  cluster-service/Makefile
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/deploy/overlays/dev/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

Update to K8s 1.30.3
  cluster-service/Makefile
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/deploy/overlays/dev/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

Add script to create secret in key vault
  dev-infrastructure/scripts/kv-add-secret.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

api: Remove IngressProfile from cluster API
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Remove IngressProfile from cluster API
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Overwrite istio label on ns during apply
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Add script to create secret in key vault
  dev-infrastructure/scripts/kv-add-secret.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Overwrite istio label on ns during apply
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

devcontainer: Remove misleading message from motd
  .devcontainer/motd
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

devcontainer: Remove misleading message from motd
  .devcontainer/motd
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Update CS to 2256c75
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Update CS to 2256c75
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Add provisioner_hostedcluster_step_enabled feature flag to cluster creation
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Add provisioner_hostedcluster_step_enabled feature flag to cluster creation
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Change VersionProfile.ID to be create-only
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Change VersionProfile.ID to be create-only
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Implement Get/Create/Delete CosmosDB Nodepool operations
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Implement Get/Create/Delete CosmosDB Nodepool operations
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

feat: add more needed properties in CS ARO-HCP Clusters to allow successful cluster creation
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Use multi for architectures, will copy over all architectures
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

feat: add more needed properties in CS ARO-HCP Clusters to allow successful cluster creation (#515)
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

add azure instance type to CS configuration
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

add azure instance type to CS configuration (#516)
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Use multi for architectures, will copy over all architectures
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Add missing NodePools CosmosDB container
  dev-infrastructure/modules/rp-cosmos.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Add missing NodePools CosmosDB container
  dev-infrastructure/modules/rp-cosmos.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Generate nodepool configuration for MVP
  frontend/utils/create.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Convert api.Visibility to/from cmv1.ListeningMethod
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Add an "updating" parameter to BuildCSCluster
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Hard-code Cluster Service "Flavour" ID
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Properly handle PUTs on existing clusters
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Generate nodepool configuration for MVP
  frontend/utils/create.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Further tweak BuildCSCluster
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add static validation for DNSProfile.BaseDomainPrefix
  internal/api/hcpopenshiftcluster.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add (some) static validation for ProxyProfile
  internal/api/hcpopenshiftcluster.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Hard-code Cluster Service "Flavour" ID
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg
