Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

backend: Add deployment infrastructure
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  backend/Makefile
  backend/deploy/helm/backend/Chart.yaml
  backend/deploy/helm/backend/templates/allow-metrics.authorizationpolicy.yaml
  backend/deploy/helm/backend/templates/backend.configmap.yaml
  backend/deploy/helm/backend/templates/backend.deployment.yaml
  backend/deploy/helm/backend/templates/metrics.service.yaml
  backend/deploy/helm/backend/templates/serviceaccount.yaml
  backend/deploy/helm/backend/templates/servicemonitor.yaml
  backend/deploy/helm/backend/values.yaml
  cluster-service/deploy/istio.yml
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/modules/rp-cosmos.bicep
  dev-infrastructure/templates/dev-acr.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

[Templatize] Config
  tooling/templatize/README.md
  tooling/templatize/config/config.go
  tooling/templatize/config/config_test.go
  tooling/templatize/config/testdata/config.yaml
  tooling/templatize/config/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

new-line-at-end-of-file
  tooling/templatize/config/testdata/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

Remove section about creating first party application
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

[Templatize Tooling] Config (#699)
  tooling/templatize/README.md
  tooling/templatize/config/config.go
  tooling/templatize/config/config_test.go
  tooling/templatize/config/testdata/config.yaml
  tooling/templatize/config/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

templatize inputs
  tooling/templatize/config/config.go
  tooling/templatize/config/config_test.go
  tooling/templatize/main.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

Remove section about creating first party application
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

use cobra validations
  tooling/templatize/main.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

add more templatize input parameters (#701)
  tooling/templatize/config/config.go
  tooling/templatize/config/config_test.go
  tooling/templatize/main.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

[Templatize Tooling] ExecuteTemplate
  tooling/templatize/README.md
  tooling/templatize/config/config_test.go
  tooling/templatize/main.go
  tooling/templatize/output/helm.sh
  tooling/templatize/output/test.bicepparam
  tooling/templatize/testdata/config.yaml
  tooling/templatize/testdata/helm.sh
  tooling/templatize/testdata/test.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

remove test files
  tooling/templatize/output/helm.sh
  tooling/templatize/output/test.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen
/frontend/ @bennerv @mbarnes @mjlshen
/backend/ @bennerv @mbarnes @mjlshen
/internal/ @bennerv @mbarnes @mjlshen
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521
