Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

ARO-17720: Change endpoints to aro_hcp
  backend/operations_scanner_test.go
  cluster-service/arohcp.devenv.md
  cluster-service/cluster-creation.md
  demo/README.md
  docs/ops/hcp-cluster-creation-flow.md
  docs/personal-dev.md
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @machi1990, @zgalor, @miguelsorianod, @JameelB, @jharrington22, @ulrichschlueter, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Update label, remove unneeded comments and log messages
  test/e2e/subscription_get_test.go
  test/util/HTTPRequest/HTTPRequest.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Add copyright statment to HTTPRequest.go
  test/util/HTTPRequest/HTTPRequest.go
Owners: @patriksuba, @mbukatov, @mgahagan73

arm: Add NewCloudErrorBodyFromSlice function
  backend/operations_scanner.go
  internal/api/arm/error.go
  internal/api/arm/error_test.go
  internal/api/arm/preflight.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

arm: Add NewContentValidationError function
  internal/api/arm/error.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

ARO HCP E2E Setup
  e2e-setup/.gitignore
  e2e-setup/00-registration.sh
  e2e-setup/10-infra-setup.sh
  e2e-setup/11-infra-mi-setup.sh
  e2e-setup/20-cluster-create.arocurl.sh
  e2e-setup/30-nodepool-create.arocurl.sh
  e2e-setup/Makefile
  e2e-setup/README.md
  e2e-setup/aro-curl-wait.sh
  e2e-setup/aro-setup-metadata.sh
  e2e-setup/arocurl.sh
  e2e-setup/hack.get-kubeconfig.sh
  e2e-setup/setup.cluster-demo.sh
  e2e-setup/setup.infra-only-demo.sh
  e2e-setup/teardown.sh
  e2e-setup/templates/cluster.default.json
  e2e-setup/templates/nodepool.default.json
  e2e-setup/test/README.md
  e2e-setup/test/empty.json
  e2e-setup/test/test-aro-setup-metadata.sh
  e2e-setup/test/test-arocurl.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix missing error messages and add missing By()
  test/e2e/subscription_get_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

api: Move complex validation outside of versioned directories
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_test.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/nodepools_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Adding frontend grafana-dashboards
  frontend/grafana-dashboards/frontend.json
  observability/observability.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

add nightly infra
  config/config.yaml
  config/public-cloud-nightly.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

make target
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add nightly infra workflow
  .github/workflows/nightly-recreate.yml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

use exiting acr
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/Makefile
  dev-infrastructure/config.tmpl.mk
  dev-infrastructure/configurations/output-global.tmpl.bicepparam
  dev-infrastructure/templates/output-global.bicep
  tooling/azure-automation/nightly-infra/deploy.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

action groups: use csvToArray to handle when values are empty
  dev-infrastructure/modules/metrics/actiongroups.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix infra nodepool disk size
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Adding frontend grafana-dashboards
  frontend/grafana-dashboards/frontend.json
  observability/observability.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

adjust cs/maestro database resource names
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Adding frontend grafana-dashboards (#1815)
  frontend/grafana-dashboards/frontend.json
  observability/observability.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

support for multiple role definitions for operator managed identities for ev2 configs
  cluster-service/Makefile
  cluster-service/generate_helm_set_flags.sh
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB

fix recent bicep errors in dev-automation account
  dev-infrastructure/modules/automation-account/permissions.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix recent bicep errors in dev-automation account (#1818)
  dev-infrastructure/modules/automation-account/permissions.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

env agnostic configuration
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/cs-pr-what-if.yml
  Makefile
  config/Makefile
  config/config.common.yaml
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nitey.json
  config/public-cloud-pers.json
  dev-infrastructure/Makefile
  docs/configuration.md
  docs/cspr.md
  docs/environments.md
  docs/pipeline-concept.md
  image-sync/oc-mirror/Makefile
  setup-env.mk
  templatize.sh
  tooling/image-sync/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis

cleanup
  config/config.common.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

rename to ntly
  config/Makefile
  config/config.yaml
  config/public-cloud-ntly.json
  templatize.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

env agnostic configuration (#1809)
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/cs-pr-what-if.yml
  Makefile
  config/Makefile
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  dev-infrastructure/Makefile
  docs/configuration.md
  docs/cspr.md
  docs/environments.md
  docs/pipeline-concept.md
  image-sync/oc-mirror/Makefile
  setup-env.mk
  templatize.sh
  tooling/image-sync/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis

fix prometheus chart values
  observability/prometheus/values.yaml
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

fix prometheus chart values (#1820)
  observability/prometheus/values.yaml
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

introduce a cloud named dev to the configuration
  Makefile
  config/Makefile
  config/config.yaml
  dev-infrastructure/Makefile
  docs/configuration.md
  docs/pipeline-concept.md
  templatize.sh
  tooling/templatize/cmd/options.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis

add hcp workspace
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/output-region.tmpl.bicepparam
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/modules/metrics/datacollection.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/output-region.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

add second rw config with metric routing by namespace
  .gitignore
  .yamllint.yml
  dev-infrastructure/mgmt-pipeline.yaml
  observability/prometheus/Makefile
  observability/prometheus/deploy/Chart.lock
  observability/prometheus/deploy/Chart.yaml
  observability/prometheus/deploy/templates/prometheus.clusterrole.yaml
  observability/prometheus/deploy/templates/prometheus.clusterrolebinding.yaml
  observability/prometheus/deploy/templates/prometheus.serviceaccount.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/deploy/values.yaml
  observability/prometheus/pipeline.yaml
  observability/prometheus/values.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add hcp amw to grafana
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add maximumStartupDurationSeconds param
  observability/prometheus/Makefile
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

add nightly infra workflow
  .github/workflows/nightly-recreate.yml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

add nightly infra
  config/config.yaml
  config/public-cloud-ntly.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

make target
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

use exiting acr
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/Makefile
  dev-infrastructure/config.tmpl.mk
  dev-infrastructure/configurations/output-global.tmpl.bicepparam
  dev-infrastructure/templates/output-global.bicep
  tooling/azure-automation/nightly-infra/deploy.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

add missing files
  e2e-setup/env.defaults
  e2e-setup/env.example
  e2e-setup/test/env.test
  e2e-setup/test/test-cluster.pool-one.nodepool.json
  e2e-setup/test/test-cluster.pool-two.nodepool.json
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

introduce a cloud named dev to the configuration (#1819)
  Makefile
  config/Makefile
  config/config.yaml
  dev-infrastructure/Makefile
  docs/configuration.md
  docs/pipeline-concept.md
  templatize.sh
  tooling/templatize/cmd/options.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis

Use latest aro tools
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Make all tidy
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73
