Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

frontend: Use Cosmos DB's transactional batch operations
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Remove unused DBClient.UpdateResourceDoc
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Refactor async header functions
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Enhance DBClientListActiveOperationDocsOptions
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Return item ID in GetResourceDoc
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Remove unused operation cancellation methods
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Add CancelActiveOperations method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add methods to support partial document updates
  internal/database/database.go
  internal/database/document.go
  internal/database/typeddocument.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Update Cosmos DB documents by patching
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Simplify convertClusterStatus parameters
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Export IsResponseError
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Enable otel tracing for maestro server
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  maestro/server/Makefile
  maestro/server/deploy/templates/maestro.deployment.yaml
  maestro/server/deploy/values.yaml
  maestro/server/pipeline.yaml
  observability/tracing/Makefile
  observability/tracing/README.md
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Example of loading managed identities from file in negative test of cluster creation
  test/e2e/cluster_put_test.go
  test/e2e/setup.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Add new Structures for e2eSetup.json integration between E2E Test Suite and Setup
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Update setup of E2E Test Suite with e2esetup.json intergration
  test/e2e/cluster_get_test.go
  test/e2e/cluster_list_test.go
  test/e2e/setup.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Make all-tidy
  test/go.mod
  test/go.sum
Owners: @patriksuba, @mbukatov, @mgahagan73

Attemp to retype data type of loaded cluster arm data into correct data type used by HcpOpenShiftClustersClient
  test/e2e/cluster_put_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Enable otel tracing for maestro server
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  maestro/server/Makefile
  maestro/server/deploy/templates/maestro.deployment.yaml
  maestro/server/deploy/values.yaml
  maestro/server/pipeline.yaml
  observability/tracing/Makefile
  observability/tracing/README.md
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

fix container logs v2
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/logs/collection.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

new attributes to mi config acc to new schema
  cluster-service/Makefile
  cluster-service/deploy/templates/azure-operators-managed-identities-config.configmap.yaml
  cluster-service/deploy/values.yaml
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB

tracing: enable tracing for backend in personal envs
  backend/Makefile
  backend/deploy/templates/backend.deployment.yaml
  backend/deploy/values.yaml
  backend/pipeline.yaml
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

setup log analytics integration for maestro postgres
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

setup log analytics integration for maestro postgres (#1763)
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix: detect no-op exporter properly
  internal/tracing/otel_sdk.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

fix AMA container logs v2 used on dev/cspr envs (#1761)
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/logs/collection.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

File name change to meet spec, update text descriptions
  test/e2e/cluster_create_test.go
  test/e2e/nodepool_create_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

frontend: Create asynchronous-operations.md
  frontend/asynchronous-operations.md
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

cleanup
  docs/aro-hcp-cluster-creation-flow.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

database: Export IsResponseError
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBClient methods for the billing container
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Remove completed FIXME comment
  backend/main.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Pass location to OperationsScanner
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

mirror OCP 4.19 RC
  dev-infrastructure/templates/global-image-sync.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

mirror OCP 4.19 RC (#1767)
  dev-infrastructure/templates/global-image-sync.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

move file
  docs/README.md
  docs/ops/hcp-cluster-creation-flow.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Draft Email Action Group
  dev-infrastructure/modules/metrics/actiongroups.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add accountId
  tooling/azure-automation/resources-cleanup/src/clean-orphaned-role-assignments.ps1
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add nightly infra
  config/config.yaml
  config/public-cloud-nightly.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

make target
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov
