Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen

Add missing base DNS zone
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix format
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

database: Use case-insensitive search for ResourceDocument
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add ResourceID wrapper type
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/ocm.go
  internal/api/arm/error.go
  internal/api/arm/resource.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Use case-insensitive search for ResourceDocument
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add ResourceID wrapper type
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/ocm.go
  internal/api/arm/error.go
  internal/api/arm/resource.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add missing returns to MiddlewareValidateStatic
  frontend/pkg/frontend/middleware_validatestatic.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add missing returns to MiddlewareValidateStatic
  frontend/pkg/frontend/middleware_validatestatic.go
Owners: @bennerv, @mbarnes, @mjlshen

Rename baseDNSZoneName to avoid conflicht with dev
  dev-infrastructure/configurations/cs-integ-region.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add Key Vault Secrets Officer to Cluster Service MSI
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Update mgmg dns as well
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

frontend: Make Pattern constants more consistent
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Alphabetize PathSegment constants
  frontend/pkg/frontend/const.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Shorten constant name HCPOpenShiftClusterResourceTypeName
  frontend/pkg/frontend/middleware_validatestatic.go
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Fix constant name typo
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add Wildcard constants
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

Messin' with constants (#551)
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatestatic.go
  frontend/pkg/frontend/routes.go
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

Rename baseDNSZoneName to avoid conflicht with dev (#549)
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-region.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

frontend: Make sure location is lowercased
  frontend/pkg/frontend/frontend.go
Owners: @bennerv, @mbarnes, @mjlshen

ocm: Prefer SendContext over Send
  frontend/pkg/frontend/frontend.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

go.work.sum updates
  go.work.sum
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

frontend: Add MarshalResource method
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Overhaul specialized CloudError functions
  frontend/pkg/frontend/frontend.go
  internal/api/arm/error.go
  internal/api/arm/preflight.go
Owners: @bennerv, @mbarnes, @mjlshen

Miscellaneous frontend refactoring (#553)
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  go.work.sum
  internal/api/arm/error.go
  internal/api/arm/preflight.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

Revert "build(deps): bump azure/cli from 2.0.0 to 2.1.0"
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  .github/workflows/cs-integ-bicep-what-if.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add Service Account and roles for integration
  cluster-service/Makefile
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add workflow dispatch to deployment workflows
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Pin azure cli version
  .github/workflows/bicep-what-if.yml
  .github/workflows/cs-integ-bicep-what-if.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add workflow dispatch to deployment workflows
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Pin azure cli version
  .github/workflows/bicep-what-if.yml
  .github/workflows/cs-integ-bicep-what-if.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Skip fork check if Workflow was dispatched manually
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Skip fork check if Workflow was dispatched manually
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Pin all the azure cli versions to 2.63.0
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Pin all the azure cli versions to 2.63.0
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Split metrics endpoint to a different port, default 8081
  frontend/cmd/cmd.go
  frontend/deploy/base/deployment.yml
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

go work sync
  internal/go.mod
  internal/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

Split metrics endpoint to a different port, default 8081 (#562)
  frontend/cmd/cmd.go
  frontend/deploy/base/deployment.yml
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  internal/go.mod
  internal/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

database: Revise OperationDocument
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Define resource types for asynchronous operations
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add Operation struct type
  internal/api/arm/operation.go
Owners: @bennerv, @mbarnes, @mjlshen
