Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @jmelis, @JameelB, @miguelsorianod, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73, @deads2k

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/acm/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/route-monitor-operator/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521 @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam @mociarain @oriAdler @nimrodshn @zgalor @patilsuraj767 @machi1990 @trevorwilliams2025 @sclarkso @weherdh
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/cluster-service/ @machi1990 @miguelsorianod @JameelB @oriAdler @nimrodshn @zgalor @patilsuraj767
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/alerts/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/grafana-dashboards/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/docs/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/test/ @patriksuba @mbukatov @mgahagan73 @jharrington22 @deads2k @bennerv
/nonlocal-e2e-specs.txt @stevekuznetsov @venkateshsredhat @deads2k

chore: render config
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

remove prometheus crds from hypershift helm deployment
  hypershiftoperator/deploy/crds/podmonitors.monitoring.coreos.com.yaml
  hypershiftoperator/deploy/crds/prometheusrules.monitoring.coreos.com.yaml
  hypershiftoperator/deploy/crds/servicemonitors.monitoring.coreos.com.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan

lets revert back to using defaults
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_params.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

wip
  tooling/release-explorer/go.mod
  tooling/release-explorer/go.sum
  tooling/release-explorer/pkg/client/options.go
  tooling/release-explorer/pkg/client/types.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

bump hypershift in dev and int
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

enable additional set of enabled Azure VM Sizes in CS configuration
  cluster-service/deploy/templates/cloud-resource-constraints-config.configmap.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767

MCE: Correct subchart version mismatch
  acm/deploy/helm/multicluster-engine-config/Chart.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

Add support for mirroring OpenShift 4.20 images to ACR
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  image-sync/oc-mirror/Dockerfile
  image-sync/oc-mirror/mirror.sh
  image-sync/oc-mirror/test/ocp-image-set-config.yml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh, @jmelis

Fix OCP version range: maxVersion must be > defaultVersion
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh
