Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes, @mociarain, @venkateshsredhat

fix istio script integration into svc creation (#1046)
  .github/workflows/environment-infra-cd.yml
  dev-infrastructure/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr

pipeline mutex for svc and mgmt what-if
  dev-infrastructure/Makefile
  dev-infrastructure/modules/keyvault/key-vault-cert.bicep
  dev-infrastructure/scripts/aks-kubeconfig.sh
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

pipeline mutex for svc and mgmt what-if (#1048)
  dev-infrastructure/Makefile
  dev-infrastructure/modules/keyvault/key-vault-cert.bicep
  dev-infrastructure/scripts/aks-kubeconfig.sh
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add kubelogin to infra pipeline
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

handle az session expiration in GH action
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

handle az session expiration in GH action (#1050)
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

provision shard config generation in helm chart
  .github/workflows/environment-infra-cd.yml
  cluster-service/Makefile
  cluster-service/deploy/helm/templates/provisioning-shards.secret.yaml
  cluster-service/deploy/helm/values.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

unique deployment name for dns zone delegation
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add PRINCIPAL_ID to GH action service rollout steps
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Principal ID is required
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add Maestro Dry Runs
  .github/workflows/services-pr-check.yml
  Makefile
  maestro/registration/Makefile
  maestro/server/Makefile
  maestro/server/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Remove dry run for registration
  .github/workflows/services-pr-check.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Switch deployment to pipeline as well
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

remove oc dep from PKO install
  pko/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Remove duplicate env entry
  .github/workflows/services-cd.yml
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

remove oc dep from PKO install (#1055)
  pko/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Use the correct APIVersion
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Refactor to use pipeline.yaml
  hypershiftoperator/Makefile
  hypershiftoperator/config.tmpl.mk
  hypershiftoperator/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add dry run and fix lint
  .github/workflows/services-pr-check.yml
  hypershiftoperator/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

remove create namespace
  hypershiftoperator/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add deployment
  .github/workflows/services-cd.yml
  Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix typos
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add removed namespace creation
  hypershiftoperator/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

fix dns zone delegation templatize step marshallling
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix dns zone delegation templatize step marshallling (#1058)
  tooling/templatize/pkg/pipeline/types.go
  tooling/templatize/testdata/zz_fixture_TestProcessPipelineForEV2pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Istio refactor deployment
  .github/workflows/services-cd.yml
  .github/workflows/services-pr-check.yml
  Makefile
  istio/Makefile
  istio/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Refactor metrics deployment
  .github/workflows/services-cd.yml
  .github/workflows/services-pr-check.yml
  Makefile
  metrics/Makefile
  metrics/pipeline.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Split mgmt and Service cluster into seperate jobs
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

istio upgrade
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

istio upgrade (#1060)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use latest PKO
  pko/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

remove duplicate servicemonitor
  acm/deploy/helm/clc-state-metrics/templates/clc-servicemonitor.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

database: Add more parameters to NewOperationDocument
  backend/operations_scanner_test.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Add CancelActiveOperation method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

ocm: Add push iterator types to encapsulate OCM pagination
  internal/ocm/iterators.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

backend: Deploy two aro-hcp-backend pods
  backend/deploy/helm/backend/templates/backend.deployment.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

frontend: Generalize ArmResourceList to also handle node pools
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/middleware_validatestatic.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

database: Add GetContinuationToken to DBClientIterator
  internal/database/cache.go
  internal/database/database.go
  internal/database/util.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

database: Return a DBClientIterator from ListResourceDocs
  frontend/pkg/frontend/frontend.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

database: Generalize in-memory cache iterator
  internal/database/cache.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
