Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

*: add acrpull controller, binding
  .yamllint.yml
  acrpull/Makefile
  acrpull/deploy/helm/acrpull/Chart.yaml
  acrpull/deploy/helm/acrpull/templates/acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role.yaml
  acrpull/deploy/helm/acrpull/templates/controller_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/deployment.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role.yaml
  acrpull/deploy/helm/acrpull/templates/leader_election_role_binding.yaml
  acrpull/deploy/helm/acrpull/templates/msi-acrpull.microsoft.com_acrpullbindings.yaml
  acrpull/deploy/helm/acrpull/templates/namespace.yaml
  acrpull/deploy/helm/acrpull/templates/podmonitor.yaml
  acrpull/deploy/helm/acrpull/templates/serviceaccount.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicies.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicybindings.yaml
  acrpull/deploy/helm/acrpull/templates/validatingadmissionpolicyparameters.yaml
  acrpull/deploy/helm/acrpull/values.yaml
  acrpull/pipeline.yaml
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  frontend/Makefile
  frontend/deploy/helm/frontend/templates/acrpullbinding.yaml
  frontend/deploy/helm/frontend/templates/serviceaccount.yaml
  frontend/deploy/helm/frontend/values.yaml
  go.work.sum
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @mbarnes

dev-infrastructure: parallelize fmt, lint
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add ACR replica in different region
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/modules/acr/acr-replication.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

tell the user what is going to happen
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

update golang.org/x/net to v0.33.0
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  go.work.sum
  internal/go.mod
  internal/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
  tooling/mcerepkg/go.mod
  tooling/mcerepkg/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

tell the user what is going to happen (#1013)
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use target
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove unused
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

change url
  config/config.msft.yaml
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

remove unused
  config/config.schema.json
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

remove depend
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add more condition
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix lint and comment
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix config
  config/config.msft.yaml
  config/config.schema.json
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

uncommon yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change name
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix svc
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use newVersion
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use verified code
  config/config.msft.yaml
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

refine
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change to newversion
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use string
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix lint
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

install
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

edit in bicep
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

test jq
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove url
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

test
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use overwrite
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

address comments
  config/Makefile
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

delete unused
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use jq
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix break
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change back in msft
  config/config.msft.yaml
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use continue
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add line
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add error message in make file
  config/Makefile
  config/config.msft.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix lint
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix config
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
