Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis, @mbarnes, @AldoFusterTurpin

CODEOWNERS:

* @ulrichschlueter @bennerv @zgalor @jharrington22 @mjlshen @tonytheleg
/dev-infrastructure/ @bennerv @petrkotas @ulrichschlueter @mjlshen @tonytheleg @whober0521 @nwnt @jonathan34c @weinong @niontive @geoberle @janboll @jmelis
/image-sync/ @bennerv @petrkotas @ulrichschlueter @mjlshen @tonytheleg @whober0521 @nwnt @jonathan34c @weinong @niontive @geoberle @janboll @jmelis
/api/ @petrkotas @mbarnes @AldoFusterTurpin @bennerv @mjlshen @tonytheleg
/frontend/ @petrkotas @mbarnes @AldoFusterTurpin @bennerv @mjlshen @tonytheleg
/internal/ @petrkotas @mbarnes @AldoFusterTurpin @bennerv @mjlshen @tonytheleg

dev infra: use json output explicitly when needed
  dev-infrastructure/Makefile
  dev-infrastructure/modules/postgres/postgres-sql.bicep
  dev-infrastructure/scripts/aks-admin-access.sh
  dev-infrastructure/scripts/cs-current-user-pg-connect.sh
  dev-infrastructure/scripts/cs-miwi-pg-connect.sh
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

dev infra: use json output explicitly when needed
  dev-infrastructure/Makefile
  dev-infrastructure/modules/postgres/postgres-sql.bicep
  dev-infrastructure/scripts/aks-admin-access.sh
  dev-infrastructure/scripts/cs-current-user-pg-connect.sh
  dev-infrastructure/scripts/cs-miwi-pg-connect.sh
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Update .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

Add Service Principal for image sync (#398)
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mvp-dev-acr-roleassignments.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/acr-permissions.bicep
  dev-infrastructure/modules/acr-pull-permission.bicep
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/dev-acr-roleassignments.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

keyvault access requires MSI to exist
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

keyvault access requires MSI to exist (#408)
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Update Makefile
  dev-infrastructure/Makefile
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Update Makefile
  dev-infrastructure/Makefile
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

lint
  .github/workflows/bicep-what-if.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

temporarily apply infra during PR checks for testing
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

move resourcegroup tagging to template
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/region.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

fixes
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

harmonize RG names and add region specifier
  .github/workflows/aro-hcp-dev-env-cd.yml
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev.mk
  frontend/Makefile
  hypershiftoperator/Makefile
  maestro/Makefile
  tooling/image-sync/Makefile
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis, @mbarnes, @AldoFusterTurpin

maestro infra to regional RG
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/maestro/maestro-infra.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/region.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

set tags on regional RG
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/configurations/mvp-region.bicepparam
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

what-if fix
  .github/workflows/bicep-what-if.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

move ACR to global
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-acr.bicepparam
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-dev-acr-roleassignments.bicepparam
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/dev-acr-roleassignments.bicep
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
  dev-infrastructure/templates/dev-region-roleassignments.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  hypershiftoperator/deploy/base/deployment-external-dns.yaml
  hypershiftoperator/deploy/base/deployment-operator.yaml
  hypershiftoperator/deploy/overlays/dev/patch-deployment-operator.json
  tooling/image-sync/example.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

fix dns
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/templates/dev-dns.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

fixes
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

reenable after-merge gate for deploy_update_infra
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

lint
  dev-infrastructure/templates/dev-dns.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Create regional resource group (#402)
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-acr.bicepparam
  dev-infrastructure/configurations/dev-dns.bicepparam
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-dev-acr-roleassignments.bicepparam
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/maestro/maestro-infra.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/dev-acr-roleassignments.bicep
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
  dev-infrastructure/templates/dev-dns.bicep
  dev-infrastructure/templates/dev-region-roleassignments.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/region.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/Makefile
  hypershiftoperator/Makefile
  hypershiftoperator/deploy/base/deployment-external-dns.yaml
  hypershiftoperator/deploy/base/deployment-operator.yaml
  hypershiftoperator/deploy/overlays/dev/patch-deployment-operator.json
  maestro/Makefile
  tooling/image-sync/Makefile
  tooling/image-sync/example.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis, @mbarnes, @AldoFusterTurpin

Fix MC_RESOURCEGROUP environment variable causing deployment failures
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

Fix MC_RESOURCEGROUP environment variable causing deployment failures
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

Fix RESOURCEGROUP environment variable for maestro-agent CD
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

Fix RESOURCEGROUP environment variable for maestro-agent CD
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

initial
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

add local
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Fold DNS into regional resource group
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-dns.bicepparam
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/templates/dev-dns.bicep
  dev-infrastructure/templates/region.bicep
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Remove extraneous persist param from ACR
  dev-infrastructure/configurations/dev-acr.bicepparam
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

Follow up fixes
  .github/workflows/aro-hcp-dev-env-cd.yml
  image-sync/oc-mirror/Makefile
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg, @petrkotas, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

doc updates for new DEV env RGs
  dev-infrastructure/Makefile
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/scripts/import-kv.sh
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

remove hint about failing HO install
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @petrkotas, @ulrichschlueter, @mjlshen, @tonytheleg, @whober0521, @nwnt, @jonathan34c, @weinong, @niontive, @geoberle, @janboll, @jmelis

enable hypershift-addon on ACM
  acm/deploy/mch/mce-overrides.yml
  acm/scripts/install-acm.sh
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

upgrade hypershift-operator
  hypershiftoperator/Makefile
  hypershiftoperator/deploy/base/clusterrole-hypershift-operator.yaml
  hypershiftoperator/deploy/base/deployment-operator.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedclusters.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedcontrolplanes.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-ipaddressclaims.ipam.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-ipaddresses.ipam.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_podmonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_prometheusrules.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_servicemonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-nodepools.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/kustomization.yml
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg

Update containers/image/v5 to v5.32.0
  go.work.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @ulrichschlueter, @bennerv, @zgalor, @jharrington22, @mjlshen, @tonytheleg
