Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @sclarkso, @machi1990, @miguelsorianod, @JameelB

uniqueness for svc-infra pipeline step deployment names
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

uniqueness for svc-infra pipeline step deployment names (#1350)
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-15231: update image registry dev role with the latest changes from Caden
  dev-infrastructure/configurations/dev-operator-roles.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-15236 | feat: Updating cluster creation doc
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-15231: update image registry dev role with the latest changes from Caden (#1351)
  dev-infrastructure/configurations/dev-operator-roles.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-15236 | feat: Updating cluster creation doc
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

ARO-15236 | feat: Updating cluster creation doc (#1353)
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

zone redundancy control via config (#1336)
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/global-acr.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/acr/acr.bicep
  dev-infrastructure/modules/common.bicep
  dev-infrastructure/modules/rp-cosmos.bicep
  dev-infrastructure/templates/global-acr.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jfchevrette, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

frontend: Do not handle panics when running "go test"
  frontend/pkg/frontend/middleware_panic.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @sclarkso

Modify hcpCluster-models to delete Spec (#1267)
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  demo/03-create-cluster.sh
  demo/04-create-nodepool.sh
  demo/05-delete-cluster.sh
  demo/README.md
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_test.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @sclarkso, @jharrington22, @ulrichschlueter, @zgalor, @kostola, @DennisJWheeler, @hbhushan3

fix diskencrypation permission operator roles
  dev-infrastructure/configurations/dev-operator-roles.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
go.work* @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @sclarkso
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @sclarkso
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @sclarkso
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @sclarkso
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr @jfchevrette
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
