Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jmelis, @JameelB, @miguelsorianod, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

feat: update cs image to 5a131d6 in int env (#2251)
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add refactoring from https://github.com/Azure/ARO-HCP/pull/2240
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add certificate bicep modules from #2221
  dev-infrastructure/modules/keyvault/key-vault-cert-with-access.bicep
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Always create certificates, refactor config to add missing properties
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

cluster
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/modules/cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73

config: record just one ID for reader role in subs (#2266)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

refactor e2e testcontext for auto cleanup
  test/e2e/cluster_create_missing_info.go
  test/e2e/complete_cluster_create.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/zero_dep.go
Owners: @patriksuba, @mbukatov, @mgahagan73

managed identities
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/managed-identities.bicep
  test/e2e-setup/bicep/setup.sh
Owners: @patriksuba, @mbukatov, @mgahagan73

add CAA + TXT record to CX parent zone (#2253)
  dev-infrastructure/templates/global-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

cluster infra
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e-setup/bicep/setup.sh
Owners: @patriksuba, @mbukatov, @mgahagan73

symlink bingo binary basenames (#2270)
  .bingo/Symlinks.mk
  Makefile
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jmelis, @ulrichschlueter

teardown script
  test/e2e-setup/bicep/teardown.sh
Owners: @patriksuba, @mbukatov, @mgahagan73

added release management group to config
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add required fields to config schema for refresher deploy (#2246)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

make materialze
  config/dev.digests.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

define randomSuffix based on resource group ID
  test/e2e-setup/bicep/modules/cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73

use general variable names
  test/e2e-setup/README.md
  test/e2e-setup/bicep/setup.sh
Owners: @patriksuba, @mbukatov, @mgahagan73

Use context to generate DNS Zone for geneva auth certificates
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

Simplify schema, use same hostname/san for mgmt and svc
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

move svc kv tags to global defaults (#2260)
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

etcd error fix
  demo/bicep/cluster.bicep
  demo/cluster.tmpl.json
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/api/hcpopenshiftcluster.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @tony-schndr, @sclarkso, @tsatam, @katherinelc321

Make AROBit use MSI for MDSD authentication
  arobit/Makefile
  arobit/deploy/templates/_helpers.tpl
  arobit/deploy/templates/forwarder-clusterrole.yaml
  arobit/deploy/templates/forwarder-clusterrolebinding.yaml
  arobit/deploy/templates/forwarder-configmap.yaml
  arobit/deploy/templates/forwarder-daemonset.yaml
  arobit/deploy/templates/forwarder-exporter-configmap.yaml
  arobit/deploy/templates/forwarder-service.yaml
  arobit/deploy/templates/serviceaccount.yaml
  arobit/deploy/values.yaml
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jharrington22, @ulrichschlueter, @JameelB, @miguelsorianod, @jmelis

acm policies required for consuming ingress tls certificate on hosted cluster data plane (#1899)
  acm/deploy/helm/policies/templates/default-ingress-cert.policy.yaml
  acm/deploy/helm/policies/templates/ingress-controller-check.policy.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73
