Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @tonytheleg @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen @tonytheleg
/frontend/ @bennerv @mbarnes @mjlshen @tonytheleg
/internal/ @bennerv @mbarnes @mjlshen @tonytheleg

api: Split validation-related functions to a separate file
  internal/api/registry.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Rename Properties to SubscriptionProperties
  frontend/pkg/frontend/context_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Rename RegistrationState to SubscriptionState
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add static validation for subscription payloads
  frontend/README.md
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/utils/frontend_smoke_test.go
  internal/api/arm/subscription.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add comment about Subscription.RegistrationDate field
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

fixup! api: Split validation-related functions to a separate file
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

register maestro agent in GH action
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

refactor maestro agent registration
  maestro/Makefile
  maestro/deploy/helm/registration/Chart.yaml
  maestro/deploy/helm/registration/templates/registration.job.yaml
  maestro/deploy/helm/registration/templates/script.yaml
  maestro/deploy/helm/registration/values.yaml
  maestro/deploy/helm/server/templates/allow-registration-job-to-maestro.authorizationpolicy.yaml
  maestro/register-maestro-consumer.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

lint
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

define required managed identities within cluster templates
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

remove old agent registration template
  maestro/deploy/openshift-templates/agent-registration.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

api: Add static validation for subscription payloads
  frontend/README.md
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/utils/frontend_smoke_test.go
  internal/api/arm/subscription.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Rename RegistrationState to SubscriptionState
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

fixup! api: Split validation-related functions to a separate file
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Split validation-related functions to a separate file
  internal/api/registry.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add comment about Subscription.RegistrationDate field
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Rename Properties to SubscriptionProperties
  frontend/pkg/frontend/context_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/api/arm/subscription.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Move EnumValidateTag function
  internal/api/v20240610preview/register.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

define required managed identities within cluster templates
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

refactor for helm
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/configurations/dev.mk
  image-sync/common/Makefile
  image-sync/common/deploy/common-template.yml
  image-sync/deployment/Makefile
  image-sync/deployment/componentSyncCronjob/Chart.yaml
  image-sync/deployment/componentSyncCronjob/templates/configmap.yaml
  image-sync/deployment/componentSyncCronjob/templates/cronjobs.yaml
  image-sync/deployment/componentSyncCronjob/templates/secretproviderclass.yaml
  image-sync/deployment/componentSyncCronjob/values.yaml
  image-sync/deployment/shared-resources/Chart.yaml
  image-sync/deployment/shared-resources/templates/serviceaccount.yaml
  image-sync/deployment/shared-resources/values.yaml
  tooling/image-sync/Makefile
  tooling/image-sync/deploy.yml
  tooling/image-sync/deploy/image-sync-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add Component sync job (#478)
  .github/workflows/aro-hcp-dev-env-cd.yml
  dev-infrastructure/configurations/dev.mk
  image-sync/deployment/Makefile
  image-sync/deployment/componentSyncCronjob/Chart.yaml
  image-sync/deployment/componentSyncCronjob/templates/configmap.yaml
  image-sync/deployment/componentSyncCronjob/templates/cronjobs.yaml
  image-sync/deployment/componentSyncCronjob/templates/secretproviderclass.yaml
  image-sync/deployment/componentSyncCronjob/values.yaml
  image-sync/deployment/shared-resources/Chart.yaml
  image-sync/deployment/shared-resources/templates/serviceaccount.yaml
  image-sync/deployment/shared-resources/values.yaml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/oc-mirror-template.yml
  tooling/image-sync/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Sync clusters-service last
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Sync clusters-service last
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Run CI/CD on dev-infrastructure configurations changes
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Run CI/CD on dev-infrastructure configurations changes
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Maestro agent registration in GH action (#493)
  .github/workflows/aro-hcp-dev-env-cd.yml
  maestro/Makefile
  maestro/deploy/helm/registration/Chart.yaml
  maestro/deploy/helm/registration/templates/registration.job.yaml
  maestro/deploy/helm/registration/templates/script.yaml
  maestro/deploy/helm/registration/values.yaml
  maestro/deploy/helm/server/templates/allow-registration-job-to-maestro.authorizationpolicy.yaml
  maestro/deploy/openshift-templates/agent-registration.yml
  maestro/register-maestro-consumer.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Fix component-sync use dedicated secret
  image-sync/deployment/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Fix component-sync use dedicated secret (#498)
  image-sync/deployment/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Refactoring OC Mirror deployment to Helm Chart
  .github/workflows/aro-hcp-dev-env-cd.yml
  image-sync/deployment/Makefile
  image-sync/deployment/ocmirrorCronjob/Chart.yaml
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
  image-sync/deployment/ocmirrorCronjob/templates/cronjobs.yaml
  image-sync/deployment/ocmirrorCronjob/templates/secretproviderclass.yaml
  image-sync/deployment/ocmirrorCronjob/values.yaml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/oc-mirror-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

empty pull secret for hypershift-sharedingress
  hypershiftoperator/.gitignore
  hypershiftoperator/deploy/overlays/dev/kustomization.yml
  hypershiftoperator/deploy/overlays/dev/pull-secret.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

ACM duct tape removal + Maestro fix (#490)
  acm/deploy/mch/mce-overrides.yml
  acm/scripts/install-acm.sh
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

empty pull secret for hypershift-sharedingress (#500)
  hypershiftoperator/.gitignore
  hypershiftoperator/deploy/overlays/dev/kustomization.yml
  hypershiftoperator/deploy/overlays/dev/pull-secret.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Add dependency to build jobs
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Deploy MC/SC resource group after region
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Make managedResourceGroup optional
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

remove subnet delegate WIP
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

temporarily run during PR check
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

also deploy mgmt cluster
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Refactoring OC Mirror deployment to Helm Chart (#499)
  .github/workflows/aro-hcp-dev-env-cd.yml
  image-sync/deployment/Makefile
  image-sync/deployment/ocmirrorCronjob/Chart.yaml
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
  image-sync/deployment/ocmirrorCronjob/templates/cronjobs.yaml
  image-sync/deployment/ocmirrorCronjob/templates/secretproviderclass.yaml
  image-sync/deployment/ocmirrorCronjob/values.yaml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/oc-mirror-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

change name
  maestro/deploy/helm/agent/templates/maestro-agent.agent.clusterrole.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.clusterrolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.role.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent.rolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent:extension-apiserver.role.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.agent:extension-apiserver.rolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.execution-admin.clusterrolebinding.yaml
  maestro/deploy/helm/agent/templates/maestro-agent.execution.clusterrolebinding.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor
