Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

frontend: Add DBClient to the API server's base context
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add BaseDocument type
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add copyright headers
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add azcore event logging, disabled by default
  frontend/cmd/cmd.go
  frontend/deploy/helm/frontend/templates/frontend.configmap.yaml
  frontend/deploy/helm/frontend/templates/frontend.deployment.yaml
Owners: @bennerv, @mbarnes, @mjlshen

CICD roleassignment on shared KV
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add biceps files and scripts for first party application service principle
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mvp-first-party.bicepparam
  dev-infrastructure/modules/first-party-identity.bicep
  dev-infrastructure/scripts/create-sp-for-rbac.sh
  dev-infrastructure/templates/first-party-identity.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix identity name
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Refactor, use global keyvault
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/first-party-access.bicepparam
  dev-infrastructure/configurations/mvp-first-party-access.bicepparam
  dev-infrastructure/configurations/mvp-first-party.bicepparam
  dev-infrastructure/modules/first-party-identity.bicep
  dev-infrastructure/templates/first-party-identity.bicep
  dev-infrastructure/templates/first-party-kv-access.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Deploy to global RG and make deployment user specific
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Refactor use global kv aro-hcp-dev-svc-kv
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/first-party-access.bicepparam
  dev-infrastructure/configurations/mvp-first-party-access.bicepparam
  dev-infrastructure/configurations/mvp-first-party.bicepparam
  dev-infrastructure/templates/first-party-kv-access.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

CICD roleassignment on shared KV (#667)
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Adding Delete permissions
  dev-infrastructure/modules/acr-permissions.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

mirror OCP 4.17
  image-sync/oc-mirror/imageset-config.yml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

specify RG for shared KV role assignment
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Adding Delete permissions (#668)
  dev-infrastructure/modules/acr-permissions.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

specify RG for shared KV role assignment (#669)
  dev-infrastructure/templates/dev-aks-roleassignments.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

mirror OCP 4.17 (#670)
  image-sync/oc-mirror/imageset-config.yml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add OCP 4.17 stable to sync config
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add OCP 4.17 stable to sync config (#671)
  image-sync/deployment/ocmirrorCronjob/templates/configmap.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

DNS zone permissions for CS MI
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

KeyVault tagging by purpose
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  cluster-service/Makefile
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

KeyVault tagging by purpose (#673)
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
  cluster-service/Makefile
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

add SVC Key Vault name to svc-cluster.bicep output
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add SVC Key Vault name to svc-cluster.bicep output (#674)
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

GH action fixes for permanent envs
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

GH action fixes for permanent envs (#675)
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Fixes to the deployment
  dev-infrastructure/Makefile
  dev-infrastructure/templates/first-party-identity.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

DNS zone permissions for CS MI
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

frontend: Set Content-Type header in LoggingResponseWriter
  frontend/pkg/frontend/middleware_logging.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Set Content-Type header in LoggingResponseWriter
  frontend/pkg/frontend/middleware_logging.go
Owners: @bennerv, @mbarnes, @mjlshen

Change client id to newly created FPA
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Change client id to newly created FPA (#678)
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add a default
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

chore: update cs image tag to b16f630
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

chore: remove copy-fpc make target
  cluster-service/Makefile
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Sort imports
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add LockClient
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add "Locks" container
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/cmd/cmd.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521, @mbarnes

database: Avoid using azcosmos.ContainerClient.UpsertItem
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  frontend/pkg/frontend/operations.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add MiddlewareLockSubscription
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/routes.go
  internal/api/arm/error.go
Owners: @bennerv, @mbarnes, @mjlshen

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
