Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro, @jmelis, @JameelB, @miguelsorianod, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73, @deads2k

for testing ext auth
  demo/06-create-ext-auth.sh
  demo/07-delete-ext-auth.sh
  demo/08-patch-ext-auth.sh
  demo/common.sh
  demo/env_vars
  demo/external_auth.json
  demo/external_auth.tmpl.json
  demo/external_auth_patch.json
  demo/external_auth_patch.tmpl.json
  demo/query-external-auth.sh
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @tony-schndr, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

Add interval configuration
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
  tooling/prometheus-rules/main_test.go
  tooling/prometheus-rules/testdata/generated_5m.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

Update alerts, explicitly set interval
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

Make all tidy
  admin/go.mod
  admin/go.sum
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/olm-bundle-repkg/go.mod
  tooling/olm-bundle-repkg/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro, @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k

add prod e2e suite
  test/cmd/aro-hcp-tests/main.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

arm: Remove ExternalAuthProvisioningState type
  frontend/pkg/frontend/external_auth.go
  internal/api/arm/resource.go
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/v20240610preview/external_auth_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Allow removal of all external auth clients
  frontend/pkg/frontend/external_auth_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Remove workaround in marshalCSExternalAuth
  frontend/pkg/frontend/external_auth.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Rename some external auth variables
  frontend/pkg/frontend/external_auth.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Disallow an empty external auth audiences list
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/api/hcpopenshiftclusterexternalauth.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

Fix set interval at correct level
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

grafana-dashboard: document recommended regex for datasources and other variables
  docs/grafana-dashboards.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

backend: add dashboard filter regex for datasource and cluster variables
  backend/grafana-dashboards/backend.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

cilium: add dashboard filter regex for datasource
  observability/infra-dashboards/cilium.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

mise: add dashboard filter regex for datasource and cluster variable
  frontend/grafana-dashboards/mise.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

clusters-service: add dashboard filter regex for datasource and cluster variable
  cluster-service/grafana-dashboards/cluster-service-slo-compund-metrics.json
  cluster-service/grafana-dashboards/cluster-service-slo.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

frontend: add dashboard filter regex for datasource and cluster variable
  frontend/grafana-dashboards/frontend.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

shell identity for regional housekeeping step
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

Add Kiota SDK Generation: MSGraph
  Makefile
  tooling/kiota/README.md
  tooling/kiota/generate.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

makefile: make license target work when there's a whole lotta files
  Makefile
  internal/graph/graphsdk/graph_base_service_client.go
  internal/graph/graphsdk/kiota-lock.json
  internal/graph/graphsdk/me/me_request_builder.go
  internal/graph/graphsdk/models/organization_collection_response.go
  internal/graph/graphsdk/organization/organization_request_builder.go
  tooling/kiota/generate.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

Update CS script to create kv within name length restrictions
  cluster-service/cluster-creation.md
Owners: @machi1990, @miguelsorianod, @JameelB

graphsdk: remove integration tests and update credentials for graph client to use default cred
  go.work.sum
  internal/graph/Makefile
  internal/graph/README.md
  internal/graph/util/applications.go
  internal/graph/util/client.go
  internal/graph/util/integration_test.go
  internal/graph/util/me.go
  internal/graph/util/organization.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

add a image digest field for billing
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mfreeraro

grafana-dashboard: add rudimentary dashboard validations
  observability/grafana/grafana.py
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

mise: fix SLO availability dashboard query
  frontend/grafana-dashboards/mise.json
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Pull dashboards over
  maestro/grafana-dashboards/maestro-agent-slo.json
  maestro/grafana-dashboards/maestro-agent.json
  maestro/grafana-dashboards/maestro-server-slo.json
  maestro/grafana-dashboards/maestro-server.json
  observability/observability.yaml
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Fix yaml fmt
  observability/observability.yaml
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

aks-cluster: make cluster deployment name unique
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

Fix "config" make goal for frontend and backend
  backend/Makefile
  frontend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

config: Bump frontend and backend image digests
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mfreeraro

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @tsatam @katherinelc321 @mfreeraro
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321 @mfreeraro
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321 @mfreeraro
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam @mfreeraro
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/cluster-service/ @machi1990 @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/*/alerts/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/*/grafana-dashboards/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73 @jharrington22 @deads2k @bennerv
