Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

workspace name min length 4
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

backend: Update Cosmos DB documents by patching
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Add CancelActiveOperations method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Remove completed FIXME comment
  backend/main.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Work around NodePoolState inconsistency when deleting
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Use Cosmos DB's transactional batch operations
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Enhance DBClientListActiveOperationDocsOptions
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Return item ID in GetResourceDoc
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Remove unused DBClient.UpdateOperationDoc
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add methods to support partial document updates
  internal/database/database.go
  internal/database/document.go
  internal/database/typeddocument.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Remove unused DBClient.UpdateResourceDoc
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Remove unused operation cancellation methods
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Export IsResponseError
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Refactor async header functions
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Simplify convertClusterStatus parameters
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBTransaction and DBTransactionResult interfaces
  internal/database/database.go
  internal/database/transaction.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
  internal/mocks/generate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Change convertNodePoolStatus parameters
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Handle errors from DatabaseClient.NewContainer
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBClient methods for the billing container
  dev-infrastructure/modules/rp-cosmos.bicep
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
  internal/mocks/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Pass location to OperationsScanner
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

removed old schema attributes from operators managed identity config
  cluster-service/Makefile
  cluster-service/deploy/templates/azure-operators-managed-identities-config.configmap.yaml
  cluster-service/deploy/values.yaml
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB

env agnostic configuration
  .github/workflows/aro-hcp-cd.yml
  .github/workflows/cs-pr-what-if.yml
  Makefile
  config/Makefile
  config/config.common.yaml
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nitey.json
  config/public-cloud-pers.json
  dev-infrastructure/Makefile
  docs/configuration.md
  docs/cspr.md
  docs/environments.md
  docs/pipeline-concept.md
  image-sync/oc-mirror/Makefile
  setup-env.mk
  templatize.sh
  tooling/image-sync/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis

Nightly deploy
  tooling/azure-automation/nightly-infra/create-nightly-infra.ps1
  tooling/azure-automation/nightly-infra/delete.sh
  tooling/azure-automation/nightly-infra/deploy.sh
  tooling/azure-automation/nightly-infra/svc-infra.parameters.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

cleanup
  config/config.common.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add hcp workspace
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/output-region.tmpl.bicepparam
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/modules/metrics/datacollection.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/output-region.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

add hcp amw to grafana
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add second rw config with metric routing by namespace
  .gitignore
  .yamllint.yml
  dev-infrastructure/mgmt-pipeline.yaml
  observability/prometheus/Makefile
  observability/prometheus/deploy/Chart.lock
  observability/prometheus/deploy/Chart.yaml
  observability/prometheus/deploy/templates/prometheus.clusterrole.yaml
  observability/prometheus/deploy/templates/prometheus.clusterrolebinding.yaml
  observability/prometheus/deploy/templates/prometheus.serviceaccount.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/deploy/values.yaml
  observability/prometheus/pipeline.yaml
  observability/prometheus/values.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

ARO-16353: bump cluster-service image digest
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-nightly.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

change visibility for ChannelGroup
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Create gitignore file. Ignore e2e-setup.json file.
  test/.gitignore
Owners: @patriksuba, @mbukatov, @mgahagan73

Finish integration between E2E Test Suite and E2E Setup
  test/e2e/README.md
  test/e2e/setup.go
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Add new Structures for e2eSetup.json integration between E2E Test Suite and Setup
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Update setup of E2E Test Suite with e2esetup.json intergration
  test/e2e/cluster_get_test.go
  test/e2e/cluster_list_test.go
  test/e2e/setup.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Update how the E2E setup filepath is handed over. Change the README accordingly.
  test/e2e/README.md
  test/e2e/setup.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Update existing test with e2e-setup integration
  test/e2e/nodepool_create_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

database: Handle errors from DatabaseClient.NewContainer
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBClient methods for the billing container
  dev-infrastructure/modules/rp-cosmos.bicep
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Pass location to OperationsScanner
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73
