Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

frontend: Add fallback logic to LoggerFromContext
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_panic.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_systemdata.go
  frontend/pkg/frontend/middleware_validatesubscription.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Fix status code for subscription PUT
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add DeleteAllResources method
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Remove Frontend.logger member
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Tidy up log messages
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/node_pool.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Refetch resource document after updating
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Return a DBClientIterator from ListResourceDocs
  frontend/pkg/frontend/frontend.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Rename StartOperation to ExposeOperation
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add DeleteAllResources method
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Generalize in-memory cache iterator
  internal/database/cache.go
Owners: @bennerv, @mbarnes, @SudoBrendan

backend: Fix nil pointer dereference
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Add GetContinuationToken to DBClientIterator
  internal/database/cache.go
  internal/database/database.go
  internal/database/util.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Add more parameters to NewOperationDocument
  backend/operations_scanner_test.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add CancelActiveOperation method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add more logic to DeleteResource
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Fix status code for subscription PUT
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add fallback logic to LoggerFromContext
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_panic.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_systemdata.go
  frontend/pkg/frontend/middleware_validatesubscription.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Remove Frontend.logger member
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Tidy up log messages
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/node_pool.go
Owners: @bennerv, @mbarnes, @SudoBrendan

test
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove depend
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Istio add self signed certs (#982)
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
  frontend/Makefile
  frontend/deploy/helm/frontend/templates/allow-ingress.authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/frontend.gateway.yaml
  frontend/deploy/helm/frontend/templates/frontend.secret-refresher.yaml
  frontend/deploy/helm/frontend/templates/frontend.secretproviderclass.yaml
  frontend/deploy/helm/frontend/templates/frontend.virtualservice.yaml
  frontend/deploy/helm/frontend/values.yaml
  frontend/pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @mbarnes

change name
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change url
  config/config.msft.yaml
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

refine
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add line
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix break
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use continue
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use target
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

change back in msft
  config/config.msft.yaml
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

edit svc-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Move the frontend to the SVC DNS zone
  dev-infrastructure/configurations/svc-infra.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Move the frontend to the SVC DNS zone (#1002)
  dev-infrastructure/configurations/svc-infra.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

reduce MC user pool autoscaler min count
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

reduce MC user pool autoscaler min count (#1004)
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fix output chaining, make it possible to use output over RG border
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

* OS and arch aware istioctl download * ensure tag exists - if not set it to the current version
  config/config.yaml
  dev-infrastructure/.gitignore
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

update golang.org/x/crypto to v0.31.0 (#1000)
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  go.work.sum
  internal/go.mod
  internal/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

add ACR replica in different region
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/modules/acr/acr-replication.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

address comments
  config/Makefile
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
