Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @jmelis, @JameelB, @miguelsorianod, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

create MSI refresher MI
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

feat: parametrize the runbook verbosity, defaulting to False
  dev-infrastructure/modules/automation-account/runbook.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

feat: use automation variables for the dry run flag
  dev-infrastructure/modules/automation-account/account.bicep
  dev-infrastructure/templates/automation-account.bicep
  tooling/azure-automation/resources-cleanup/src/clean-orphaned-role-assignments.ps1
  tooling/azure-automation/resources-cleanup/src/resources_cleanup.py
  tooling/azure-automation/resources-cleanup/src/test_resources_cleanup.py
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix: add explicit dependency to avoid race conditions errors during first deploy
  dev-infrastructure/modules/automation-account/account.bicep
  dev-infrastructure/templates/automation-account.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

feat: parametrize and update script version
  dev-infrastructure/templates/automation-account.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

cfg: disable dry run mode for the automation account
  dev-infrastructure/templates/automation-account.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

create MSI refresher MI (#2243)
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

wip: disable int automation account environment
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

regnerating and updating api spec.
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @tsatam, @katherinelc321, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso

feature: Deploy cleanup automations to stage and int (#2190)
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/automation-account.bicepparam
  dev-infrastructure/configurations/dev-automation-account.bicepparam
  dev-infrastructure/modules/automation-account/account.bicep
  dev-infrastructure/modules/automation-account/permissions.bicep
  dev-infrastructure/modules/automation-account/runbook.bicep
  dev-infrastructure/templates/automation-account.bicep
  tooling/azure-automation/github-actions/README.md
  tooling/azure-automation/github-actions/hack/create-application.sh
  tooling/azure-automation/resources-cleanup/README.md
  tooling/azure-automation/resources-cleanup/flowchart/flowchart.drawio
  tooling/azure-automation/resources-cleanup/flowchart/flowchart.png
  tooling/azure-automation/resources-cleanup/requirements.txt
  tooling/azure-automation/resources-cleanup/src/automationassets.py
  tooling/azure-automation/resources-cleanup/src/clean-orphaned-role-assignments.ps1
  tooling/azure-automation/resources-cleanup/src/localassets.json
  tooling/azure-automation/resources-cleanup/src/resources_cleanup.py
  tooling/azure-automation/resources-cleanup/src/test_resources_cleanup.py
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

redesign OS Disk profile API spec
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/externalauths_client.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/hcpopenshiftversions_client.go
  internal/api/v20240610preview/generated/hcpoperatoridentityrolesets_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @tsatam, @katherinelc321, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso

Tidy up CSClient
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Add ValidateStatic method to ExternalAuth
  internal/api/registry.go
  internal/api/v20240610preview/external_auth_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Wire up create and update
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

make tidy and regenerating
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/externalauths_client.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/hcpopenshiftversions_client.go
  internal/api/v20240610preview/generated/hcpoperatoridentityrolesets_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

acm policies required for consuming ingress tls certificate on hosted cluster data plane
  acm/deploy/helm/policies/templates/default-ingress-cert.policy.yaml
  acm/deploy/helm/policies/templates/ingress-controller-check.policy.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

Fixing TODO validations for external auth tokenissuer Profile struct.
  internal/api/hcpopenshiftclusterexternalauth.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

regenerate the file
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/externalauths_client.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/hcpopenshiftversions_client.go
  internal/api/v20240610preview/generated/hcpoperatoridentityrolesets_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @tsatam, @katherinelc321, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso

regnerate
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/externalauths_client.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/hcpopenshiftversions_client.go
  internal/api/v20240610preview/generated/hcpoperatoridentityrolesets_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

remove conditional zone delegation from global pipeline
  dev-infrastructure/global-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

remove schema
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

tooling/templatize: add a check for empty inputs
  tooling/templatize/cmd/pipeline/validate/options.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

tooling: bump ARO-Tools
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

postgres breakglass
  cluster-service/deploy/templates/postgres-breakglass.deployment.yaml
  docs/README.md
  docs/network-security.md
  docs/network_overview.png
  docs/ops/postgres-breakglass.md
  maestro/server/deploy/templates/postgres-breakglass.deployment.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

feat: update cs image to 5a131d6 in int env
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

doc hints about token expiration
  docs/ops/postgres-breakglass.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

remove unused emptyDirs
  cluster-service/deploy/templates/postgres-breakglass.deployment.yaml
  maestro/server/deploy/templates/postgres-breakglass.deployment.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

remove unused postgres_token file
  cluster-service/deploy/templates/postgres-breakglass.deployment.yaml
  maestro/server/deploy/templates/postgres-breakglass.deployment.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

use block for script
  cluster-service/deploy/templates/postgres-breakglass.deployment.yaml
  maestro/server/deploy/templates/postgres-breakglass.deployment.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

validate env var existance
  cluster-service/deploy/templates/postgres-breakglass.deployment.yaml
  maestro/server/deploy/templates/postgres-breakglass.deployment.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

Try and use systemData policy when creating clusters through API
  test/e2e/cluster_lifecycle_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

add CAA record to CX parent zone
  dev-infrastructure/templates/global-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add txt records
  dev-infrastructure/templates/global-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

refine etcd defaults and conversion model
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftcluster.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

Add refactoring from https://github.com/Azure/ARO-HCP/pull/2240
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Add certificate bicep modules from #2221
  dev-infrastructure/modules/keyvault/key-vault-cert-with-access.bicep
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Update configuration to match merged schema
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

Always create certificates, refactor config to add missing properties
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

make materialze
  config/dev.digests.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam

Simplify schema, use same hostname/san for mgmt and svc
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @jmelis, @ulrichschlueter

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73
