Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr

adapt mgmt cluster sizing in INT to perfscale settings
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

bump(maestro): bump maestro to 15b3dcff1c9a96a02c516b787e847757dac8c1af
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
  maestro/server/helm/templates/maestro.deployment.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Output fixes
  tooling/templatize/pkg/pipeline/arm.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Fix lint
  tooling/templatize/pkg/pipeline/arm.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

bump(maestro): bump maestro to 15b3dcff1c9a96a02c516b787e847757dac8c1af (#998)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
  maestro/server/helm/templates/maestro.deployment.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

remove echos from CS deploy
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

update golang.org/x/crypto to v0.31.0
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  go.work.sum
  internal/go.mod
  internal/go.sum
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

Pass in additional secrets
  frontend/Makefile
  frontend/pipeline.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Add some context for the secret refresher
  frontend/deploy/helm/frontend/templates/frontend.secret-refresher.yaml
  frontend/deploy/helm/frontend/templates/frontend.secretproviderclass.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Add certificate refresher
  frontend/deploy/helm/frontend/templates/frontend.secret-refresher.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Grant certificate access to the aksClusterKeyVaultSecretsProviderMI instead of the frontendMI
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Update VirtualService so it's picked up
  frontend/deploy/helm/frontend/templates/frontend.virtualservice.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Add istio CRs
  frontend/deploy/helm/frontend/templates/frontend.gateway.yaml
  frontend/deploy/helm/frontend/templates/frontend.secretproviderclass.yaml
  frontend/deploy/helm/frontend/templates/frontend.virtualservice.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Update values.yaml
  frontend/deploy/helm/frontend/values.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Allow traffic to flow from isitio to the rp in the cluster
  frontend/deploy/helm/frontend/templates/allow-ingress.authorizationpolicy.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Scope ingress to just GET
  frontend/deploy/helm/frontend/templates/allow-ingress.authorizationpolicy.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Lint yaml files
  frontend/deploy/helm/frontend/templates/allow-ingress.authorizationpolicy.yaml
  frontend/deploy/helm/frontend/templates/frontend.secret-refresher.yaml
  frontend/deploy/helm/frontend/templates/frontend.secretproviderclass.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

Additional SP
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

bump(maestro): bump maestro to eddc46d1f49ccc2d3298fed0d4b8ab25c159e357
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

bump(maestro): bump maestro to eddc46d1f49ccc2d3298fed0d4b8ab25c159e357 (#1003)
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

adapt mgmt cluster sizing in INT to perfscale settings (#997)
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

api: Add struct conversion for OperatorsAuthentication API
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Modify BuildCSCluster parameters
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan

api: Remove unused wrapper types for generated types
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Translate managed identity data to/from Cluster Service
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan

api: Add MergeStringPtrMap utility
  internal/api/utils.go
  internal/api/utils_test.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
Owners: @bennerv, @mbarnes, @SudoBrendan

arm: Add header constant for "X-Ms-Identity-Url"
  internal/api/arm/headers.go
Owners: @bennerv, @mbarnes, @SudoBrendan

ocm: Add push iterator types to encapsulate OCM pagination
  internal/ocm/iterators.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Rename StartOperation to ExposeOperation
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan

backend: Deploy two aro-hcp-backend pods
  backend/deploy/helm/backend/templates/backend.deployment.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Add GetContinuationToken to DBClientIterator
  internal/database/cache.go
  internal/database/database.go
  internal/database/util.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Generalize in-memory cache iterator
  internal/database/cache.go
Owners: @bennerv, @mbarnes, @SudoBrendan

backend: Add Kubernetes leader election
  backend/deploy/helm/backend/templates/backend.deployment.yaml
  backend/deploy/helm/backend/templates/leader-election.role.yaml
  backend/deploy/helm/backend/templates/leader-election.rolebinding.yaml
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add CancelActiveOperation method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Return a DBClientIterator from ListResourceDocs
  frontend/pkg/frontend/frontend.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan

database: Add more parameters to NewOperationDocument
  backend/operations_scanner_test.go
  frontend/pkg/frontend/operations.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @SudoBrendan

ocm: Add ListCSClusters and ListCSNodePools methods
  internal/ocm/mock.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Generalize ArmResourceList to also handle node pools
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/middleware_validatestatic.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @SudoBrendan

frontend: Add more logic to DeleteResource
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan

backend: Fix nil pointer dereference
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan
