Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @jmelis, @JameelB, @miguelsorianod, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73, @deads2k

Update acm chart, add mce testfile
  acm/deploy/helm/testdata/helmtest_mce.yaml
  acm/deploy/helm/testdata/zz_fixture_TestHelmTemplate_helmtest_mce.yaml
  acm/pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

get keyvault version from bicep output
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_params.go
  test/util/framework/per_test_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

RP frontend/backend and admin api bump
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

materialize rp + admin api bump
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

feat: use setup-templatize-env for acm mk
  acm/Env.mk
  acm/Makefile
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

Use types package for config
  tooling/templatize/pkg/pipeline/run.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

fix mod tidy
  test/go.mod
  test/go.sum
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

bump cs image to 25a8f202303670189e5b178407cc1bc5b5365d835c84129e8814577553a18cb2 (int)
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

rename availabilityZoneCount to azureRegionAvailabilityZoneCount
  config/config.schema.json
  config/config.yaml
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-svc.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

materialize
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Correct image path for backend and frontend
  backend/values.yaml
  frontend/values.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

initial commit of kas api slo dashboard
  dev-infrastructure/modules/metrics/hcp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/Makefile
  observability/alerts/HCPkasRecord-prometheusRule.yaml
  observability/alerts/HCPkasRecord-prometheusRule_test.yaml
  observability/grafana-dashboards/kas-monitor/kas_monitor_api_slo.json
  observability/observability-hcp-recording-rules.yaml
  tooling/prometheus-rules/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @weinong, @whober0521, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

chore: bump CS image digest for dev environments
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

prom changes broke dashboard, had to rebuild
  observability/grafana-dashboards/kas-monitor/kas_monitor_api_slo.json
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

add param builder func
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_params.go
  test/util/framework/per_invocation_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

remove ctx
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

remove unused context
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

add kms to default param
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_params.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

restore original prometheus configuration
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-svc.yaml
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

ymlfmt
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-svc.yaml
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

additional fixes
  config/config.msft.clouds-overlay.yaml
  config/config.schema.json
  config/config.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-svc.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

materialize
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Set over overrides
  acm/deploy/helm/multicluster-engine/templates/multiclusterengine.multiclusterengine.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

RMO default ingress hack deployment fix
  route-monitor-operator/Makefile
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

pull more mce configs from subcharts into the multicluster-engine-config.values.yaml
  acm/deploy/helm/multicluster-engine-config/values.yaml
  acm/multicluster-engine-config.values.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

lint
  acm/multicluster-engine-config.values.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

fix: update Geneva mdsd image
  config/config.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_svc.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

chore: render dev digests
  config/dev.digests.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

chore: bump CS image digest for INT environments
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Static image digest
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_enabled.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_dev.yaml
  tooling/helmtest/main_test.go
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh, @bennerv

Additional overrides for MCE
  acm/deploy/helm/multicluster-engine/templates/multiclusterengine.multiclusterengine.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

Update sigs.k8s.io/prow, github.com/andygrunwald/go-jira
  test/go.mod
  test/go.sum
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

clean: remove flappy what-if / dry-run checks
  .github/workflows/aro-hcp-dev-dry-run.yml
  .github/workflows/aro-hcp-dev-what-if.yml
  .github/workflows/cs-pr-what-if.yml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

tooling: add a charting CLI for deployment timing
  tooling/templatize/cmd/entrypoint/cmd.go
  tooling/templatize/cmd/entrypoint/visualize/cmd.go
  tooling/templatize/cmd/entrypoint/visualize/options.go
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/run.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

remove DRY_RUN=true from mgmt target
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @weinong, @whober0521, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

fix: update Geneva mdsd image
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_svc.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Bump openshift-tests-extension to latest commit
  test/go.mod
  test/go.sum
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

docs: update personal dev doc with new targets
  docs/personal-dev.md
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

Add a property to mark a region as in-progress and disable IcM alerting
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/configurations/monitoring.tmpl.bicepparam
  dev-infrastructure/modules/metrics/actiongroups.bicep
  dev-infrastructure/templates/monitoring.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh, @jmelis

Add 'regionBuildout: true' for prod/westeurope
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/acm/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/route-monitor-operator/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521 @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam @mociarain @oriAdler @nimrodshn @zgalor @patilsuraj767 @machi1990 @trevorwilliams2025 @sclarkso @weherdh
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/cluster-service/ @machi1990 @miguelsorianod @JameelB @oriAdler @nimrodshn @zgalor @patilsuraj767
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/alerts/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/grafana-dashboards/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/docs/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/test/ @patriksuba @mbukatov @mgahagan73 @jharrington22 @deads2k @bennerv
/nonlocal-e2e-specs.txt @stevekuznetsov @venkateshsredhat @deads2k
