Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

Fix image-sync Dockerfile
  tooling/image-sync/Dockerfile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

use westus3-cs.hcp.osadev.cloud zone for CS env
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-region.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

use westus3-cs.hcp.osadev.cloud zone for CS env (#647)
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-region.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

change grafana admin group
  dev-infrastructure/modules/metrics/metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

ARO-8948: Copy the certificate to private kv
  cluster-service/Makefile
  dev-infrastructure/scripts/kv-copy-cert.sh
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

change grafana admin group (#648)
  dev-infrastructure/modules/metrics/metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Update devcontainer base image to Go 1.23
  .devcontainer/devcontainer.json
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Ensure local golangci-lint version mirrors CI
  .devcontainer/postCreate.sh
  .github/workflows/ci-go.yml
  .gitignore
  Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Ensure local golangci-lint version mirrors CI
  .devcontainer/postCreate.sh
  .github/workflows/ci-go.yml
  .gitignore
  Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix regional zone for CS env
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

database: Add isResponseError
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Use subscription ID for SubscriptionDocument.ID
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521, @mbarnes

fix regional zone for CS env
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

draft - SVC KV sharing for dev
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

storage account for OIDC documents
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/modules/oidc/storage.bicep
  dev-infrastructure/scripts/storage.sh
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

add eol
  dev-infrastructure/scripts/storage.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Move private endpoint to a seperate module
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add global keyvault
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Fix typo
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen

Update parameters, remove defaults and add description
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add the default logic into the RP
  frontend/pkg/frontend/ocm.go
  go.work.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

Add global keyvault (#654)
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Revert "Add global keyvault (#654)"
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Revert "Add global keyvault (#654)" (#657)
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

database: Use subscription ID for SubscriptionDocument.ID
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521, @mbarnes

database: Add isResponseError
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

Add global keyvault (#654)
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

bump AKS default version 1.30.4
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

avoid conflicts in private endpoint creation for KV
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

bump AKS default version 1.30.4
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

database: Add copyright headers
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add BaseDocument type
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Drop CosmosDBConfig
  frontend/cmd/cmd.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Add DBClient to the API server's base context
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

Fix error updating agentpool version
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix error updating agentpool version
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

storage account for OIDC documents
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/modules/oidc/storage.bicep
  dev-infrastructure/scripts/storage.sh
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

add eol
  dev-infrastructure/scripts/storage.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

shared service keyvault for all DEV envs (#660)
  cluster-service/Makefile
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
  dev-infrastructure/configurations/dev.mk
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault-private-endpoint.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

database: Drop CosmosDBConfig
  frontend/cmd/cmd.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
