Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

frontend: Properly handle PUTs on existing clusters
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Add an "updating" parameter to BuildCSCluster
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add (some) static validation for ProxyProfile
  internal/api/hcpopenshiftcluster.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add static validation for DNSProfile.BaseDomainPrefix
  internal/api/hcpopenshiftcluster.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Further tweak BuildCSCluster
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Convert api.Visibility to/from cmv1.ListeningMethod
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

refactor metrics infrastructure - remove metrics from regional bicep template - split up metrics and aks cluster templates - use acr published bicep modules
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-metrics.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-metrics.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/metrics/Alerts.bicep
  dev-infrastructure/modules/metrics/Metrics.bicep
  dev-infrastructure/modules/metrics/aks-azure-monitor-metrics.bicep
  dev-infrastructure/modules/metrics/metrics.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/region.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Switch from clustersmgmt v1 to v2alpha1
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Remove dependecy to database from healthchecks
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Use global prometheus registry
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/metrics.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Fix lint
  frontend/pkg/frontend/frontend.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Switch from clustersmgmt v1 to v2alpha1
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

private endpoint support for postgres
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

param name cleanup
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

private endpoint support for postgres (#530)
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

refactor metrics infrastructure - remove metrics from regional bicep template - split up metrics and aks cluster templates - use acr published bicep modules
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/dev-metrics.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-metrics.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/metrics/Alerts.bicep
  dev-infrastructure/modules/metrics/Metrics.bicep
  dev-infrastructure/modules/metrics/aks-azure-monitor-metrics.bicep
  dev-infrastructure/modules/metrics/metrics.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/region.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

add missing "
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

add missing "
  .github/workflows/aro-hcp-dev-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

postgres firewall rule to manage access via deployment script
  dev-infrastructure/modules/postgres/postgres.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix lint
  dev-infrastructure/modules/postgres/postgres.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

postgres firewall rule to manage access via deployment script (#532)
  dev-infrastructure/modules/postgres/postgres.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

CS Integration environment
  .github/workflows/cs-integration-env-cd.yml
  dev-infrastructure/configurations/cs-integ-metrics.bicepparam
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ-region.bicepparam
  dev-infrastructure/configurations/cs-integ-svc-cluster.bicepparam
  dev-infrastructure/configurations/cs-integ.mk
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add what if
  .github/workflows/cs-integ-bicep-what-if.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Fix path
  .github/workflows/cs-integ-bicep-what-if.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

ocm: Add InternalID type
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

database: Remove TODO comment from Document types
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

database: Combine "Clusters" and "NodePools" DB containers
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/pkg/frontend/frontend.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521, @mbarnes

database: Replace ClusterID and NodePoolID fields with InternalID
  frontend/pkg/frontend/frontend.go
  internal/database/document.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

ocm: Add InternalID type
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

database: Replace ClusterID and NodePoolID fields with InternalID
  frontend/pkg/frontend/frontend.go
  internal/database/document.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

database: Combine "Clusters" and "NodePools" DB containers
  dev-infrastructure/modules/rp-cosmos.bicep
  frontend/pkg/frontend/frontend.go
  internal/database/cache.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521, @mbarnes

database: Remove TODO comment from Document types
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Spell "node pool" as two words
  frontend/README.md
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatestatic_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/routes.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/nodepools_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add static validation for node pools
  frontend/pkg/frontend/frontend.go
  internal/api/registry.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Add an "updating" parameter to BuildCSNodePool
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Bring node pool updates on par with clusters
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Add an "updating" parameter to BuildCSNodePool
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Bring node pool updates on par with clusters
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

api: Add static validation for node pools
  frontend/pkg/frontend/frontend.go
  internal/api/registry.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

frontend: Spell "node pool" as two words
  frontend/README.md
  frontend/pkg/frontend/const.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_validatestatic_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/routes.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/nodepools_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @tonytheleg @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen @tonytheleg
/frontend/ @bennerv @mbarnes @mjlshen @tonytheleg
/internal/ @bennerv @mbarnes @mjlshen @tonytheleg
