Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @weinong, @whober0521, @tony-schndr, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan
/frontend/ @bennerv @mbarnes @SudoBrendan
/backend/ @bennerv @mbarnes @SudoBrendan
/internal/ @bennerv @mbarnes @SudoBrendan
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @tony-schndr

remove unused
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

remove
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

test new approach
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use sha256 to verify
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

remove unused version
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

add description
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use istioctl tag
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add array
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix comment
  config/Makefile
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

* OS and arch aware istioctl download * ensure tag exists - if not set it to the current version
  config/config.yaml
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

fix schema
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use array
  config/config.msft.yaml
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

make istio.sh excutable
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

edit svc-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

put []
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

test
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use array
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

add geo
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

fix lint
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use reversion
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use object
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

revert back to array
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

csv for istio version
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cs-pr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-personal-dev.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use single string
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

test use string
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

use workaround
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

use array
  config/config.msft.yaml
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr

use workaround
  config/config.msft.yaml
  config/config.schema.json
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @tony-schndr, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter

handle bare pods as well
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

find pod owners via stale pods
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

fix deployment and lint
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

dev-infrastructure/script/istio.sh: Download istioctl, tag the revision tag with the target version, iterate through pods and do the istio version maintainance.
  dev-infrastructure/scripts/istio.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

move secrets to kube-system
  maestro/agent/helm/templates/ama-metrics-serviceaccount.role.yaml
  maestro/agent/helm/templates/ama-metrics-serviceaccount.rolebinding.yaml
  maestro/agent/helm/templates/maestro-agent.podmonitor.yaml
  maestro/agent/helm/templates/maestro-agent.sa-token.secret.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

move persist tag management to *-infra.bicep
  dev-infrastructure/Makefile
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

move persist tag management to *-infra.bicep (#1015)
  dev-infrastructure/Makefile
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr

Use pipeline for Frontend
  .github/workflows/services-cd.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add PR Check pipeline
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Fix pr check
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Add PRINCIPAL_ID parameter
  .github/workflows/services-pr-check.yml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

testing add diff
  frontend/Makefile
  frontend/pipeline.yaml
  run_pipeline.sh
Owners: @bennerv, @mbarnes, @SudoBrendan, @jharrington22, @ulrichschlueter, @zgalor
