Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

database: Add DBClient methods for the billing container
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Remove completed FIXME comment
  backend/main.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Pass location to OperationsScanner
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Handle errors from DatabaseClient.NewContainer
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Use correct models and unmarshaling
  test/e2e/setup.go
  test/go.mod
  test/go.sum
  test/util/integration/setup_models.go
Owners: @patriksuba, @mbukatov, @mgahagan73

Attemp to create working put request with system data
  test/e2e/cluster_put_test.go
Owners: @patriksuba, @mbukatov, @mgahagan73

fix typo route
  admin/pkg/admin/routes.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

subscription test
  test/e2e/subscription_get_test.go
  test/util/HTTPRequest/HTTPRequest.go
Owners: @patriksuba, @mbukatov, @mgahagan73

cluster creation debug cheat sheet (#1757)
  docs/README.md
  docs/ops/hcp-cluster-creation-flow.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Map action groups in prometheus-rules
  dev-infrastructure/modules/metrics/actiongroups.bicep
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

istio documentation
  docs/istio.md
  docs/ops/hcp-cluster-creation-flow.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

Remove not needed RG entries
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/mgmt-solo-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Grant NSP access from the Service Cluster subscription to the management NSP
  dev-infrastructure/configurations/mgmt-nsp.tmpl.bicepparam
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/templates/mgmt-nsp.bicep
  dev-infrastructure/templates/output-svc.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config: use lower-case for log cert SANs
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config: update stg database names
  config/config.msft.yaml
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config: make use of environment value
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config: bring INT subscriptions into naming scheme
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Add docs on network security
  docs/ops/network-security.md
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

database: Add methods to support partial document updates
  internal/database/database.go
  internal/database/document.go
  internal/database/typeddocument.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Enhance DBClientListActiveOperationDocsOptions
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBTransaction and DBTransactionResult interfaces
  internal/database/database.go
  internal/database/transaction.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
  internal/mocks/generate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Return item ID in GetResourceDoc
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Export IsResponseError
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/lock.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBClient methods for the billing container
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
  internal/mocks/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Add CancelActiveOperations method
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Simplify convertClusterStatus parameters
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add DBTransaction and DBTransactionResult interfaces
  internal/database/database.go
  internal/database/transaction.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
  internal/mocks/generate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Work around NodePoolState inconsistency when deleting
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Remove unused DBClient.UpdateOperationDoc
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Remove completed FIXME comment
  backend/main.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Update Cosmos DB documents by patching
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Refactor async header functions
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Use Cosmos DB's transactional batch operations
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Change convertNodePoolStatus parameters
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

frontend: Remove unused operation cancellation methods
  frontend/pkg/frontend/operations.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Remove unused DBClient.UpdateResourceDoc
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Enhance DBClientListActiveOperationDocsOptions
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Return item ID in GetResourceDoc
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  internal/database/database.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler
