Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

Use latest aro tools (#1822)
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

Sync remote manager as well
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix: creation of demo cluster
  demo/03-create-cluster.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Update PKO Deployment
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  pko/Makefile
  pko/deploy/templates/job.yaml
  pko/deploy/values.yaml
  pko/pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Remove PKO image build
  .github/workflows/services-ci.yml
  pko/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @jharrington22, @ulrichschlueter, @zgalor

bump hypershift image digest
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

wait for inflight updates to finish
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

make target
  config/config.yaml
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

backend: instrument the CosmosDB client
  backend/go.mod
  backend/go.sum
  backend/main.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

tracing: instrument database client
  backend/main.go
  backend/operations_scanner.go
  frontend/cmd/cmd.go
  internal/database/instrumentation.go
  internal/tracing/attributes.go
  observability/tracing/tracing-common-attributes.md
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

add requirements to the readme file
  e2e-setup/README.md
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

removing invalid option
  e2e-setup/teardown.sh
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

ACM helm should use identity for image pull
  acm/Makefile
  acm/deploy/helm/multicluster-engine/templates/acrpullbinding.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.serviceaccount.yaml
  acm/deploy/helm/multicluster-engine/values.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

Enable PKO Deployment
  .github/workflows/services-cd.yml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3

api: Revise MI validation to be case-insensitive
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add more cluster validation checks
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/validate.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add AssertJSONPath test helper
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add more test helper constants
  backend/operations_scanner_test.go
  frontend/pkg/frontend/frontend_test.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Draft PR for backplane ACM policies-ARO-17573
  acm/deploy/helm/policies/templates/backplane-sre-role.placement.yaml
  acm/deploy/helm/policies/templates/backplane-sre-role.placementbinding.yaml
  acm/deploy/helm/policies/templates/backplane-sre-role.policy.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

updating Draft PR for backplane ACM policies-ARO-17573
  acm/deploy/helm/policies/templates/backplane-sre-role.placementbinding.yaml
  acm/deploy/helm/policies/templates/backplane-sre-role.policy.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

database: Add DBClient methods for the billing container
  dev-infrastructure/modules/rp-cosmos.bicep
  internal/database/database.go
  internal/database/document.go
  internal/mocks/dbclient.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Handle errors from DatabaseClient.NewContainer
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

bump cluster-service image digest
  config/config.msft.yaml
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

backend: Pass location to OperationsScanner
  backend/main.go
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Integrate Cosmos DB Billing container
  backend/operations_scanner.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

backend: Add newTimestamp function member
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

database: Add ErrAmbiguousResult error
  internal/database/database.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

added comments about the role names being comma separated
  cluster-service/generate_helm_set_flags.sh
  config/config.yaml
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

crypto officer for gh action identity
  tooling/azure-automation/github-actions/hack/create-application.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

also grant aks rbac cluster admin
  tooling/azure-automation/github-actions/hack/create-application.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

chore: remove kms managed identity creation from cluster creation in demo mode scripts
  cluster-service/cluster-creation.md
  demo/03-create-cluster.sh
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

grant gh action user access administrator
  tooling/azure-automation/github-actions/hack/create-application.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

postgres module should have password property marked as secure
  dev-infrastructure/modules/postgres/postgres.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

grafana step dependencies
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

move OIDC storage from svc RG to regional RG
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

setup int mock identities
  dev-infrastructure/Makefile
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

enable swift support for RH dev envs
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

lint fixes
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

switch integrated DEV + CSPR MC AKS CNI to azure
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

update int environment config
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov
