Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

frontend: Remove TenantIDFromContext and associated tests
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/context_test.go
Owners: @bennerv, @mbarnes, @mjlshen

ARO-7425|feat: add azure runtime config flag to cs service template
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

control maestro server istio ingress restriction via helm value
  .github/workflows/cs-integration-env-cd.yml
  maestro/Makefile
  maestro/deploy/helm/server/templates/allow-cluster-service.authorizationpolicy.yaml
  maestro/deploy/helm/server/values.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

api: Add ParseResourceID
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_validatestatic.go
  frontend/pkg/frontend/operations.go
  internal/api/arm/resource.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Define ResourceType vars for cluster and node pool
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_logging_test.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/middleware_validatestatic.go
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

ocm: Add InternalID.ID method
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add factory functions for document types
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

reducing user agentpool maxpod limit to 225
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

reducing user agentpool maxpod limit to 225
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Fix 1st party application credentials in dev
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Fix 1st party application credentials in dev
  cluster-service/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Revert "reducing user agentpool maxpod limit to 225"
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Revert "reducing user agentpool maxpod limit to 225"
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Move system pool into AKS cluster base
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Move system pool into AKS cluster base
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Enable azure monitor metrics in persistent dev envs
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/cs-integration-env-cd.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

database: Add factory functions for document types
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/operations.go
  internal/database/database.go
  internal/database/document.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Define ResourceType vars for cluster and node pool
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_logging_test.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/middleware_validatestatic.go
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

ocm: Add InternalID.ID method
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add ParseResourceID
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_validatestatic.go
  frontend/pkg/frontend/operations.go
  internal/api/arm/resource.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Add PagedResponse type
  internal/api/arm/resource.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Remove list-clusters-by-location endpoint
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
Owners: @bennerv, @mbarnes, @mjlshen

database: Add DBClient.ListResourceDocs method
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

frontend: Rework ArmResourceList
  frontend/pkg/frontend/frontend.go
Owners: @bennerv, @mbarnes, @mjlshen

api: Remove VersionedHCPOpenShiftClusterList
  internal/api/registry.go
Owners: @bennerv, @mbarnes, @mjlshen

Return System Metadata and Tags in List Results from RP (#631)
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  internal/api/arm/resource.go
  internal/api/registry.go
  internal/database/cache.go
  internal/database/database.go
Owners: @bennerv, @mbarnes, @mjlshen

control maestro server istio ingress restriction via helm value
  .github/workflows/cs-integration-env-cd.yml
  maestro/Makefile
  maestro/deploy/helm/server/templates/allow-cluster-service.authorizationpolicy.yaml
  maestro/deploy/helm/server/values.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

use existing clusters-service MI for CS PR checking
  dev-infrastructure/configurations/cs-integ-msi.bicepparam
  dev-infrastructure/templates/cs-integration-msi.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

use existing clusters-service MI for CS PR checking (#637)
  dev-infrastructure/configurations/cs-integ-msi.bicepparam
  dev-infrastructure/templates/cs-integration-msi.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add configmap
  cluster-service/Makefile
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Revert "Revert "reducing user agentpool maxpod limit to 225""
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Revert "Revert "reducing user agentpool maxpod limit to 225""
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Update mock-dev-role-definition.json
  dev-infrastructure/scripts/mock-dev-role-definition.json
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Update mock-dev-role-definition.json
  dev-infrastructure/scripts/mock-dev-role-definition.json
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Update frontend to Go 1.23
  .devcontainer/postCreate.sh
  .github/workflows/ci-go.yml
  frontend/go.mod
  go.work
  internal/api/arm/error.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

add namespace to azure-runtime-config cm
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Update frontend to Go 1.23
  .devcontainer/postCreate.sh
  .github/workflows/ci-go.yml
  frontend/go.mod
  go.work
  internal/api/arm/error.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

Update frontend to Go 1.23 for real
  .github/workflows/aro-hcp-dev-env-cd.yml
  frontend/Dockerfile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @mbarnes

Update internal and image-sync to Go 1.23
  frontend/Dockerfile
  internal/go.mod
  internal/go.sum
  tooling/image-sync/Dockerfile
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

Fix image-sync Dockerfile
  tooling/image-sync/Dockerfile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
