Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @jmelis, @JameelB, @miguelsorianod, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73, @deads2k

Migrate to topologyConstraints instead of anti affinity
  admin/deploy/templates/admin.deployment.yaml
  admin/values.yaml
  backend/deploy/templates/backend.deployment.yaml
  backend/values.yaml
  cluster-service/deploy/templates/deployment.yaml
  cluster-service/deploy/values.yaml
  frontend/deploy/templates/frontend.deployment.yaml
  frontend/values.yaml
  istio/deploy/charts/mise/templates/deployment.yaml
  istio/deploy/charts/mise/values.yaml
  maestro/agent/deploy/templates/maestro-agent.deployment.yaml
  maestro/agent/values.yaml
  maestro/server/deploy/templates/maestro.deployment.yaml
  maestro/server/values.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @machi1990, @miguelsorianod, @JameelB, @nimrodshn, @zgalor, @patilsuraj767, @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @weherdh

Bump CS to image 25a5008c40d10690a2b312471ec8b10b6d3f46b9214d8042208a9aa9a7fd5ba9
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Adding prow url log to successful runs
  test/pkg/prowjob/monitor.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

Fixing syntax error
  test/pkg/prowjob/monitor.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

env.mk hash recalc
  setup-templatize-env.mk
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

backend image fixes
  backend/Dockerfile
  backend/Env.mk
  backend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

fix helm release namespace references
  admin/deploy/templates/acrpullbinding.yaml
  admin/deploy/templates/admin.serviceaccount.yaml
  backend/deploy/templates/acrpullbinding.yaml
  backend/deploy/templates/allow-metrics.authorizationpolicy.yaml
  backend/deploy/templates/backend.configmap.yaml
  backend/deploy/templates/backend.deployment.yaml
  backend/deploy/templates/metrics.service.yaml
  backend/deploy/templates/peerauthentication.yaml
  backend/deploy/templates/serviceaccount.yaml
  backend/deploy/templates/servicemonitor.yaml
  frontend/deploy/templates/acrpullbinding.yaml
  frontend/deploy/templates/allow-admin.authorizationpolicy.yaml
  frontend/deploy/templates/allow-ingress.authorizationpolicy.yaml
  frontend/deploy/templates/allow-metrics.authorizationpolicy.yaml
  frontend/deploy/templates/authorizationpolicy.yaml
  frontend/deploy/templates/ext-authz.authorizationpolicy.yaml
  frontend/deploy/templates/frontend.configmap.yaml
  frontend/deploy/templates/frontend.deployment.yaml
  frontend/deploy/templates/frontend.poddisruptionbudget.yaml
  frontend/deploy/templates/frontend.service.yaml
  frontend/deploy/templates/metrics.service.yaml
  frontend/deploy/templates/peerauthentication.yaml
  frontend/deploy/templates/serviceaccount.yaml
  frontend/deploy/templates/servicemonitor.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

ARO-tools bump with Helm SSA fix
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

int -> stg-rebased
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

stg -> prod-rebased
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Add testing for helm charts
  .yamllint.yml
  go.work
  observability/arobit/testdata/helmtest_kusto_enabled.yml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_enabled.yaml
  tooling/helmtest/README.md
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/helmtest/golden.go
  tooling/helmtest/main.go
  tooling/helmtest/main_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

clean: remove per env ACM digests
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Add testing for helm charts
  .yamllint.yml
  go.work
  observability/arobit/testdata/helmtest_kusto_enabled.yml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_enabled.yaml
  tooling/helmtest/README.md
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/helmtest/golden.go
  tooling/helmtest/main.go
  tooling/helmtest/main_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh

Additional tests
  observability/arobit/testdata/helmtest_dev.yml
  observability/arobit/testdata/helmtest_mdsd_enabled_mgmt.yml
  observability/arobit/testdata/helmtest_mdsd_enabled_svc.yml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_enabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_dev.yaml
Owners: @geoberle, @janboll, @tony-schndr, @mmazur, @roivaz, @raelga, @weinong, @whober0521, @jonathan34c, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

make all tidy
  go.work
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k

Fix upstream changes
  tooling/helmtest/main_test.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

remove unused params
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_invocation_framework.go
  test/util/verifiers/serving_app.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

add a new hcp client options
  .gitignore
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k

remove older unused function
  test/util/framework/hcp_helper.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

skip tls verification for dev env
  resourcegroups/basic-cluster-gqldrr/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-gqldrr/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-gqldrr/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-gqldrr/deployments.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-ssc5rn/deployments.yaml
  test/util/framework/hcp_helper.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @patriksuba, @mbukatov, @mgahagan73, @deads2k

refactor and fix linting issues
  resourcegroups/basic-cluster-ltk76x/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-ltk76x/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-ltk76x/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-ltk76x/deployments.yaml
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
  test/util/verifiers/serving_app.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @patriksuba, @mbukatov, @mgahagan73, @deads2k

remove timeout
  test/util/verifiers/serving_app.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

add filters to test and support local run
  Makefile
  nonlocal-e2e-specs.txt
  test/cmd/aro-hcp-tests/main.go
  test/e2e/README.md
  test/e2e/complete_cluster_create.go
  test/util/labels/labels.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @deads2k, @patriksuba, @mbukatov, @mgahagan73, @jharrington22

skip tls verification for dev env
  resourcegroups/basic-cluster-gqldrr/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-gqldrr/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-gqldrr/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-gqldrr/deployments.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-ssc5rn/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-ssc5rn/deployments.yaml
Owners: @bennerv, @jharrington22, @SudoBrendan

add helper function
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

working hcp
  test/go.mod
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_invocation_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

fix webapp dev
  test/util/verifiers/serving_app.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

refine buildParam* function
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/deployment_params.go
  test/util/framework/hcp_helper.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

support for nodepool creation via e2e
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
  test/util/verifiers/serving_app.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

remove the resourcegroup folder
  resourcegroups/basic-cluster-ltk76x/deployment-operations-customer-infra.yaml
  resourcegroups/basic-cluster-ltk76x/deployment-operations-managed-identities.yaml
  resourcegroups/basic-cluster-ltk76x/deployment-operations-managedIdentitiesReaderRoles.yaml
  resourcegroups/basic-cluster-ltk76x/deployments.yaml
  test/util/framework/per_invocation_framework.go
Owners: @bennerv, @jharrington22, @SudoBrendan, @patriksuba, @mbukatov, @mgahagan73, @deads2k

add typed parameters
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/deployment_params.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_invocation_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

remove unused code
  Makefile
  nonlocal-e2e-specs.txt
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/per_invocation_framework.go
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @trevorwilliams2025, @weherdh, @deads2k, @patriksuba, @mbukatov, @mgahagan73, @jharrington22

support running e2e on Personal env
  test/e2e/complete_cluster_create.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

remove unused comments
  test/util/framework/hcp_helper.go
  test/util/framework/per_invocation_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

lint-fix
  test/go.sum
  test/util/framework/deployment_params.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

Bump CS to image 25a8f202303670189e5b178407cc1bc5b5365d835c84129e8814577553a18cb2
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mociarain, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767, @machi1990, @trevorwilliams2025, @sclarkso, @weherdh

Fix readme
  tooling/helmtest/README.md
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @mmazur, @roivaz, @raelga, @stevekuznetsov, @trevorwilliams2025, @sclarkso, @weherdh

remove unused CS helm default stale cluster values
  cluster-service/deploy/values.yaml
Owners: @machi1990, @miguelsorianod, @JameelB, @oriAdler, @nimrodshn, @zgalor, @patilsuraj767

move the key version function
  test/e2e/complete_cluster_create.go
  test/util/framework/deployment_params.go
  test/util/framework/per_test_framework.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

fix backend image build
  backend/Makefile
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @avollmer-redhat, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/acm/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/route-monitor-operator/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @trevorwilliams2025 @weherdh
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521 @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @tsatam @katherinelc321
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @avollmer-redhat @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam @mociarain @oriAdler @nimrodshn @zgalor @patilsuraj767 @machi1990 @trevorwilliams2025 @sclarkso @weherdh
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @mmazur @roivaz @raelga @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/cluster-service/ @machi1990 @miguelsorianod @JameelB @oriAdler @nimrodshn @zgalor @patilsuraj767
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/alerts/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/*/grafana-dashboards/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/docs/ @geoberle @janboll @tony-schndr @mmazur @roivaz @raelga @weinong @whober0521 @jonathan34c @stevekuznetsov @trevorwilliams2025 @sclarkso @weherdh
/test/ @patriksuba @mbukatov @mgahagan73 @jharrington22 @deads2k @bennerv
/nonlocal-e2e-specs.txt @stevekuznetsov @venkateshsredhat @deads2k
