Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro, @jmelis, @JameelB, @miguelsorianod, @machi1990, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73, @deads2k

fix: make sure nodepool name length <= 15
  test/e2e/gpu_nodepools_create_delete.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

frontend: Update OCM tests
  frontend/go.mod
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Avoid named return values
  frontend/pkg/frontend/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

frontend: Improve handling of unknown enum values
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

e2e test: handle both diabled and invalid versions
  test/e2e/cluster_create_missing_info.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

use demo.bicep, adjust timeouts
  test/e2e/cluster_pullsecret.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

set timeout to 45 minutes
  test/e2e/cluster_pullsecret.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

deploy monitoring in github actions CD
  .github/workflows/environment-infra-cd.yml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

fix node pool naming failure
  test/e2e/complete_cluster_create.go
  test/e2e/gpu_nodepools_create_delete.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

use test specific name for depolyment
  test/e2e/cluster_pullsecret.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

tooling: add a command to explain config provenance
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/cmd/configuration/cmd.go
  tooling/templatize/cmd/configuration/explain/cmd.go
  tooling/templatize/cmd/configuration/explain/options.go
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

feat: bump cs to eced2ef
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mfreeraro

e2e test of gpu nodepool: disable NC4asT4v3
  test/e2e/gpu_nodepools_create_delete.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

don't enable swift on infra pools
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

feat: bump cs to eced2ef (extends to msft envs)
  config/config.msft.clouds-overlay.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @JameelB, @miguelsorianod, @katherinelc321, @tsatam, @mfreeraro

reorder global pipeline steps
  dev-infrastructure/configurations/output-global.tmpl.bicepparam
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/templates/output-global.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

fix kv ARM version
  dev-infrastructure/templates/output-global.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov

test(e2e): add functional ExternalEntra and ExternalAuth Full E2E tests
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_entra_create.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding nodepool creations and RP test case to external auth all in one test case.
  test/e2e/external_auth_all_in_one.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

WIP: update external-auth-cluster.bicep
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

updating external auth cluster.bicep to support keyvault.
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

chore: ignore .openshift-tests-extension/
  .gitignore
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

e2e: add ExternalAuth GET smoke test and update all-in-one flow
  test/e2e/external_auth_all_in_one.go
  test/e2e/external_auth_get_smoke.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

updating external_auth_min_oidc_console_cli.go to support hcp login.
  test/e2e/external_auth_min_oidc_console_cli.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

updaate all one test case and fixing gitignore
  test/e2e/external_auth_all_in_one.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding cluster.bicep template for CI.
  test/e2e/test-artifacts/illegal-install-version/cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding to gitignore generated files.
  go.work.sum
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

adding demo script and entra auth bicep template.
  demo/bicep/external_auth.bicep
  demo/main.sh
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @tony-schndr, @sclarkso, @tsatam, @katherinelc321, @mfreeraro

fix linting and cleanup
  test/e2e/external_entra_provider_helpers.go
  test/e2e/external_entra_provider_redirect.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding image-registry cluster.bicep file.
  test/e2e/test-artifacts/image-registry/disabled-image-registry-cluster.bicep
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding updates to create deleted and minimum OIDC create testcases.
  test/e2e/enternal_auth_minimum-oidc.go
  test/e2e/external_auth_get_smoke.go
  test/e2e/external_auth_min_oidc_console_cli.go
  test/e2e/external_entra_create.go
  test/e2e/external_entra_delete.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

fix lintinging.
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_entra_create.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
  test/hack/update-bicep-json.sh
  test/util/labels/labels.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

chore: ignore generated artifacts; add Entra demo bicep and external auth API test helpers
  .gitignore
  demo/bicep/external_auth_entra.bicep
  test/e2e/external_auth_api.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep.sha256
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @roivaz, @stevekuznetsov, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @sclarkso, @tsatam, @katherinelc321, @mfreeraro, @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k

fixing go-linting and ci and doing some clean-up.
  demo/bicep/external_auth.bicep
  test/e2e/external_auth_create_test.go
  test/e2e/external_auth_get_test.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicepparm
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @tony-schndr, @sclarkso, @tsatam, @katherinelc321, @mfreeraro, @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k

adding all in one test case for external auth entra and OIDC to rp.
  test/e2e/external_auth_all_in_one.go
  test/e2e/external_auth_api.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

test: add ExternalAuth E2E tests and supporting artifacts
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_auth_create_test.go
  test/e2e/external_auth_get_test.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep.sha256
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicepparm
  test/hack/update-bicep-json.sh
  test/util/labels/labels.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

making some improvment to helper.go.
  test/e2e/external_entra_provider_helpers.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding supporting documentation.
  test/e2e/external_entra_auth_e2e_tests.md
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

adding minimum OIDC create external auth.
  test/e2e/enternal_auth_minimum-oidc.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

e2e: split provider flow into step2 (group+redirect) and step3 (publish OIDC)
  test/e2e/external_entra_create_provider.go
  test/e2e/external_entra_provider_helpers.go
  test/e2e/external_entra_provider_redirect.go
Owners: @patriksuba, @mbukatov, @mgahagan73, @jharrington22, @deads2k, @bennerv

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter
Makefile @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.*.yml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.*.yaml @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.bingo/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.gitignore @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
.editorconfig @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.md @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.mk @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
*.sh @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/.github/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/.devcontainer/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @tsatam @katherinelc321 @mfreeraro
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @tsatam @katherinelc321 @mfreeraro
/demo/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @tony-schndr @sclarkso @tsatam @katherinelc321 @mfreeraro
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler @sclarkso @tsatam @katherinelc321 @mfreeraro
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov @mbarnes @SudoBrendan @JameelB @miguelsorianod @katherinelc321 @tsatam @mfreeraro
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @roivaz @stevekuznetsov
/cluster-service/ @machi1990 @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/*/alerts/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/*/grafana-dashboards/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @roivaz @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73 @jharrington22 @deads2k @bennerv
