Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @tonytheleg @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @tonytheleg @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @mjlshen @tonytheleg
/frontend/ @bennerv @mbarnes @mjlshen @tonytheleg
/internal/ @bennerv @mbarnes @mjlshen @tonytheleg

make fmt
  dev-infrastructure/modules/acr-permissions.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

acrContributorPermission for cs managed identity (#451)
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
  dev-infrastructure/modules/acr-permissions.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Adding deployment template, adding make target
  .gitignore
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/image-sync-template.yml
  image-sync/oc-mirror/image-sync-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Review remarks
  .github/workflows/aro-hcp-dev-env-cd.yml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/image-sync-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Remove gitignore, since deploy now directly pipes to kubectl
  .gitignore
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Fix typo, apply not delete
  image-sync/oc-mirror/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix dev-container npm install
  .devcontainer/postCreate.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Refactor ARO HCP cluster ingress API
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

fix dev-container npm install
  .devcontainer/postCreate.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Refactor ARO HCP cluster ingress API
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

restrict ACR purge job to RP image
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

restrict ACR purge job to RP image (#454)
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Continue removing IP from IngressProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Continue removing IP from IngressProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/utils/create.go
  internal/api/hcpopenshiftcluster.go
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @mbarnes, @mjlshen, @tonytheleg

Add oc mirror job (#452)
  .github/workflows/aro-hcp-dev-env-cd.yml
  image-sync/oc-mirror/Makefile
  image-sync/oc-mirror/deploy/image-sync-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Add azure monitor workspace param to github action
  .github/workflows/aro-hcp-dev-env-cd.yml
  .github/workflows/bicep-what-if.yml
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/scripts/aks-admin-access.sh
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

fix: limit name length of metrics resource names - datacollectionendpoint has a max length of 44, these aren't advertised well though in ARM API contracts
  dev-infrastructure/modules/metrics/aks-azure-monitor-metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix: limit name length of metrics resource names - datacollectionendpoint has a max length of 44, these aren't advertised well though in ARM API contracts
  dev-infrastructure/modules/metrics/aks-azure-monitor-metrics.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Set restart policy on ocmirror cronjob
  image-sync/oc-mirror/deploy/image-sync-template.yml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Add note on layout
  README.md
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Remove old information
  README.md
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

Seperate out the Mac specific comment
  README.md
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

make managed grafana name configurable
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/modules/metrics/Metrics.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

parameterize grafana name for uniqueness
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/modules/metrics/Metrics.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

parameterize grafana name for uniqueness (#460)
  dev-infrastructure/configurations/mvp-region.bicepparam
  dev-infrastructure/configurations/region.bicepparam
  dev-infrastructure/modules/metrics/Metrics.bicep
  dev-infrastructure/templates/region.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

Update to README (#459)
  README.md
Owners: @bennerv, @jharrington22, @mjlshen, @tonytheleg, @ulrichschlueter, @zgalor

prevent resourcegroup tag loss
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix whitespaces in makefile
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix bug in conditional RG creation
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix bug in conditional RG creation
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix for the fix on conditional regionalRg creation
  dev-infrastructure/Makefile
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

dev-infrastructure: Update development-setup.md
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix parallel SC/MC provisioning bug
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

dev-infrastructure: Update development-setup.md (#466)
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

fix parallel SC/MC provisioning bug (#465)
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

remove upfront service delegation on AKS pod subnet
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

limit the name length of the maestro eventgrid access deployment
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

increment AKS version to 1.29.7
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

limit the name length of the maestro eventgrid access deployment (#467)
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521

increment AKS version to 1.29.7
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-svc-cluster.bicepparam
  dev-infrastructure/configurations/svc-cluster.bicepparam
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @tonytheleg, @ulrichschlueter, @weinong, @whober0521
