Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @mbarnes, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @jmelis, @machi1990, @miguelsorianod, @JameelB, @frzifus, @simonpasquier, @dinhxuanvu, @patriksuba, @mbukatov, @mgahagan73

CODEOWNERS:

* @bennerv @jharrington22 @SudoBrendan @ulrichschlueter @zgalor
**/go.mod @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
**/go.sum @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
go.work* @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/.github/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/.devcontainer/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521 @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/dev-infrastructure/modules/rp-cosmos.bicep @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @SudoBrendan @ulrichschlueter @weinong @whober0521
/api/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25
/frontend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/backend/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/internal/ @bennerv @mbarnes @SudoBrendan @mociarain @venkateshsredhat @nanyte25 @kostola @DennisJWheeler @hbhushan3 @oriAdler
/tooling/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/config/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/metrics/ @bennerv @geoberle @janboll @weinong @whober0521 @jonathan34c @tony-schndr @jfchevrette @mmazur @stevekuznetsov
/cluster-service/ @machi1990 @zgalor @miguelsorianod @JameelB
/observability/tracing/ @frzifus @simonpasquier @dinhxuanvu @mbarnes
/observability/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/docs/ @geoberle @janboll @tony-schndr @jfchevrette @mmazur @weinong @whober0521 @jonathan34c @stevekuznetsov
/test/ @patriksuba @mbukatov @mgahagan73

Enable otel tracing for maestro server (#1760)
  config/config.msft.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  maestro/server/Makefile
  maestro/server/deploy/templates/maestro.deployment.yaml
  maestro/server/deploy/values.yaml
  maestro/server/pipeline.yaml
  observability/tracing/Makefile
  observability/tracing/README.md
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

clusters-service pluralization in RH DEV envs
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

move PIPs from svc RG to regional RG
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

action groups: use csvToArray to handle when values are empty
  dev-infrastructure/modules/metrics/actiongroups.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

make all-tidy
  config/config.msft.yaml
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

explicit dependency from NSP profile to NSP
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

switch integrated DEV + CSPR MC AKS CNI to azure
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

move postgres from svc RG to regional RG
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  maestro/server/Makefile
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22

move cosmosdb from svc RG to regional RG
  backend/Makefile
  backend/pipeline.yaml
  dev-infrastructure/modules/private-endpoint.bicep
  dev-infrastructure/modules/rp-cosmos.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/Makefile
  frontend/pipeline.yaml
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @geoberle, @janboll, @jmelis, @jonathan34c, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

adjust cs/maestro database resource names
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

grafana step dependencies
  dev-infrastructure/region-pipeline.yaml
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

update int environment config
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix infra nodepool disk size
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

lint fixes
  dev-infrastructure/modules/aks-cluster-base.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

setup int mock identities
  dev-infrastructure/Makefile
  dev-infrastructure/templates/mock-identities.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

enable swift support for RH dev envs
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

finalize make target and fix role assignment
  dev-infrastructure/Makefile
  dev-infrastructure/scripts/create-sp-for-rbac.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

add global nsp
  config/config.msft.yaml
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

python3 bin name
  observability/grafana/deploy.sh
Owners: @geoberle, @janboll, @tony-schndr, @jfchevrette, @mmazur, @weinong, @whober0521, @jonathan34c, @stevekuznetsov

reset credentials for existing apps
  dev-infrastructure/scripts/create-sp-for-rbac.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

postgres module should have password property marked as secure
  dev-infrastructure/modules/postgres/postgres.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

move OIDC storage from svc RG to regional RG
  cluster-service/Makefile
  dev-infrastructure/Makefile
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

harmonize DEV and MSFT config (#1833)
  config/Makefile
  config/config.meta.schema.json
  config/config.msft.public-cloud-overlay.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  templatize.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jharrington22, @SudoBrendan, @ulrichschlueter, @zgalor

add missing azCount default for mgmt cluster
  config/config.msft.public-cloud-overlay.yaml
  config/config.msft.yaml
  config/public-cloud-msft-int.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

config schema: prevent additional properties on most objects
  config/config.schema.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

fix typo in mise repository config key name
  config/config.msft.public-cloud-overlay.yaml
  config/config.msft.yaml
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

grant gh action user access administrator (#1838)
  tooling/azure-automation/github-actions/hack/create-application.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

chore: remove kms managed identity creation from cluster creation in demo mode scripts (#1837)
  cluster-service/cluster-creation.md
  demo/03-create-cluster.sh
Owners: @machi1990, @zgalor, @miguelsorianod, @JameelB, @bennerv, @jharrington22, @SudoBrendan, @ulrichschlueter

api: Add enableEncryptionAtHost to NodePoolPlatformProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Regenerate code with autorest 3.10.7
  internal/api/v20240610preview/generated/client_factory.go
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/fake/hcpopenshiftclusters_server.go
  internal/api/v20240610preview/generated/fake/internal.go
  internal/api/v20240610preview/generated/fake/nodepools_server.go
  internal/api/v20240610preview/generated/fake/operations_server.go
  internal/api/v20240610preview/generated/fake/server_factory.go
  internal/api/v20240610preview/generated/fake/time_rfc3339.go
  internal/api/v20240610preview/generated/hcpopenshiftclusters_client.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
  internal/api/v20240610preview/generated/nodepools_client.go
  internal/api/v20240610preview/generated/operations_client.go
  internal/api/v20240610preview/generated/options.go
  internal/api/v20240610preview/generated/responses.go
  internal/api/v20240610preview/generated/time_rfc3339.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Add NodePoolPlatformProfile.EnableEncryptionAtHost
  frontend/pkg/frontend/ocm.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register_test.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Spell out "Kubernetes" instead of k8s in docs
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

api: Use an @example doc tag for node pool labels
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Bump github.com/openshift-online/ocm-sdk-go to v0.1.466
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/go.mod
  internal/go.sum
  internal/ocm/ocm.go
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler

Prepare for INT rebuild (#1780)
  backend/Makefile
  backend/pipeline.yaml
  cluster-service/Makefile
  config/Makefile
  config/config.meta.schema.json
  config/config.msft.public-cloud-overlay.yaml
  config/config.schema.json
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-msft-int.json
  config/public-cloud-msft-stg.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  dev-infrastructure/Makefile
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/modules/metrics/actiongroups.bicep
  dev-infrastructure/modules/oidc/main.bicep
  dev-infrastructure/modules/postgres/postgres.bicep
  dev-infrastructure/modules/private-endpoint.bicep
  dev-infrastructure/modules/rp-cosmos.bicep
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/scripts/create-sp-for-rbac.sh
  dev-infrastructure/scripts/istio.sh
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/mock-identities.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  frontend/Makefile
  frontend/pipeline.yaml
  maestro/server/Makefile
  observability/grafana/deploy.sh
  templatize.sh
Owners: @bennerv, @mbarnes, @SudoBrendan, @mociarain, @venkateshsredhat, @nanyte25, @kostola, @DennisJWheeler, @hbhushan3, @oriAdler, @machi1990, @zgalor, @miguelsorianod, @JameelB, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @ulrichschlueter, @jharrington22

consistent region RG name for dev and cspr
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

disable swift in dev
  config/config.yaml
  config/genevabit-0.2.8.tgz
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov

tweak wait conditions on grafana instance
  config/genevabit-0.2.8.tgz
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

dev fixes (#1844)
  config/config.yaml
  config/public-cloud-cspr.json
  config/public-cloud-dev.json
  config/public-cloud-ntly.json
  config/public-cloud-pers.json
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @geoberle, @janboll, @weinong, @whober0521, @jonathan34c, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov, @jmelis, @SudoBrendan, @ulrichschlueter

cleanup
  dev-infrastructure/scripts/add-grafana-datasource.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @SudoBrendan, @ulrichschlueter, @weinong, @whober0521, @tony-schndr, @jfchevrette, @mmazur, @stevekuznetsov
