Repository Azure/ARO-HCP, changes with the owners that CODEOWNERS names for each.
All owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521, @mbarnes

Fix visibility syntax error
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen

Fix visibility syntax error
  internal/api/hcpopenshiftclusternodepool.go
Owners: @bennerv, @mbarnes, @mjlshen

multiple useragent pool
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Add a secret for the cluster serivce mgmt service account
  cluster-service/deploy/integration/cluster-service-namespace.yaml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

materilize hypershift-operator manifests
  hypershiftoperator/deploy/base/deployment-operator.yaml
  hypershiftoperator/deploy/base/kustomization.yml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsfargateprofiles.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsmanagedclusters.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsmanagedmachinepools.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-clusterresourcesetbindings.addons.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedclusters.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedcontrolplanes.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_podmonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_prometheusrules.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_servicemonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-nodepools.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-rosaclusters.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-rosamachinepools.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-routes-default.crd.yaml
  hypershiftoperator/deploy/crds/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

materilize hypershift-operator manifests
  hypershiftoperator/deploy/base/deployment-operator.yaml
  hypershiftoperator/deploy/base/kustomization.yml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsfargateprofiles.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsmanagedclusters.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-awsmanagedmachinepools.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-clusterresourcesetbindings.addons.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedclusters.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-hostedcontrolplanes.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_podmonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_prometheusrules.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_servicemonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-nodepools.hypershift.openshift.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-rosaclusters.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-rosamachinepools.infrastructure.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-routes-default.crd.yaml
  hypershiftoperator/deploy/crds/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add the vs and the gateway
  frontend/deploy/base/networking.yml
  frontend/deploy/base/service.yml
Owners: @bennerv, @mbarnes, @mjlshen

Update kustomization
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/metrics.networking.yml
Owners: @bennerv, @mbarnes, @mjlshen

Wire up Istio External Ingress for the RP (#591)
  frontend/deploy/base/kustomization.yml
  frontend/deploy/base/metrics.networking.yml
  frontend/deploy/base/networking.yml
  frontend/deploy/base/service.yml
Owners: @bennerv, @mbarnes, @mjlshen

add documentation for enabling aks metrics
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add documentation for enabling aks metrics
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

multiple useragent pool
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

multiple useragent pool
  dev-infrastructure/configurations/cs-integ-mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.bicepparam
  dev-infrastructure/configurations/mvp-mgmt-cluster.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Hacky fix to hypershift install for manifest generation
  hypershiftoperator/Makefile
  hypershiftoperator/README.md
  hypershiftoperator/deploy/base/kustomization.yml
  hypershiftoperator/deploy/crds/customresourcedefinition-clusterresourcesetbindings.addons.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_podmonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_servicemonitors.yaml
  hypershiftoperator/deploy/crds/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

ARO-9986 | Add azure-first-party-application-client-id flag to CS
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Hacky fix to hypershift install for manifest generation
  hypershiftoperator/Makefile
  hypershiftoperator/README.md
  hypershiftoperator/deploy/base/kustomization.yml
  hypershiftoperator/deploy/crds/customresourcedefinition-clusterresourcesetbindings.addons.cluster.x-k8s.io.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_podmonitors.yaml
  hypershiftoperator/deploy/crds/customresourcedefinition-monitoring.coreos.com_servicemonitors.yaml
  hypershiftoperator/deploy/crds/kustomization.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix context
  admin/main.go
  admin/pkg/admin/adminClusterListfromCS.go
  admin/pkg/admin/const.go
  admin/pkg/admin/routes.go
  go.work
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix pkg
  admin/main.go
  admin/pkg/admin/adminClusterListfromCS.go
  admin/pkg/admin/routes.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix ctx
  admin/pkg/admin/admin.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

ARO-8948 Update ARO HCP template with CSI Driver
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add make option and doc to copy FPC
  cluster-service/Makefile
  dev-infrastructure/docs/development-setup.md
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor, @geoberle, @janboll, @jmelis, @jonathan34c, @niontive, @nwnt, @weinong, @whober0521

Updated CS image and added 1PC parameter
  cluster-service/Makefile
  cluster-service/deploy/openshift-templates/arohcp-service-template.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

build(maestro): bump maestro's image tag to ea066c250a002f0cc458711945165591bc9f6d3f
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

build(maestro): bump maestro's image tag to ea066c250a002f0cc458711945165591bc9f6d3f (#598)
  maestro/Makefile
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix linting error
  admin/cmd/cmd.go
  admin/pkg/admin/adminClusterListfromCS.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix lint
  admin/pkg/admin/ocm.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

fix ocm api
  admin/cmd/cmd.go
  admin/pkg/admin/admin.go
  admin/pkg/admin/adminClusterListfromCS.go
  admin/pkg/admin/ocm.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

rm comment
  admin/pkg/admin/adminClusterListfromCS.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Add dependabot scanning for image-sync component
  .github/dependabot.yml
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Revert clusters_mgmt v2alpha1 to v1
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  go.work.sum
  internal/go.mod
  internal/go.sum
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
  internal/ocm/ocm.go
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

add CS sandbox image sync for PR checks
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add CS sandbox image sync for PR checks
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

add api init file
  admin/apiversions.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

update dev doc
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

update dev doc
  dev-infrastructure/docs/development-setup.md
  dev-infrastructure/local_CS.sh
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

tooling: PoC for a config generator
  go.work
  go.work.sum
  tooling/generate-config/cmd/common/bicep.go
  tooling/generate-config/cmd/common/primitives.go
  tooling/generate-config/cmd/maestro/client/cmd.go
  tooling/generate-config/cmd/maestro/cmd.go
  tooling/generate-config/cmd/maestro/infrastructure/cmd.go
  tooling/generate-config/cmd/maestro/server/cmd.go
  tooling/generate-config/go.mod
  tooling/generate-config/main.go
Owners: @bennerv, @jharrington22, @mjlshen, @ulrichschlueter, @zgalor

Revert clusters_mgmt v2alpha1 to v1
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/ocm.go
  go.work.sum
  internal/go.mod
  internal/go.sum
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
  internal/ocm/ocm.go
  tooling/image-sync/go.mod
  tooling/image-sync/go.sum
Owners: @bennerv, @mbarnes, @mjlshen, @jharrington22, @ulrichschlueter, @zgalor

Revert "add CS sandbox image sync for PR checks"
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Revert "add CS sandbox image sync for PR checks" (#609)
  dev-infrastructure/configurations/dev.mk
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

Configure quay repository caching
  dev-infrastructure/configurations/mvp-dev-acr.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Owners: @bennerv, @geoberle, @janboll, @jmelis, @jonathan34c, @mjlshen, @niontive, @nwnt, @ulrichschlueter, @weinong, @whober0521

CODEOWNERS:

* @bennerv @jharrington22 @mjlshen @ulrichschlueter @zgalor
/dev-infrastructure/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/image-sync/ @bennerv @geoberle @janboll @jmelis @jonathan34c @mjlshen @niontive @nwnt @ulrichschlueter @weinong @whober0521
/typespec/ @bennerv @mbarnes @mjlshen 
/frontend/ @bennerv @mbarnes @mjlshen 
/internal/ @bennerv @mbarnes @mjlshen
